<select name="Country" id="countries" style="width: 399px;">
    <option>Россия</option>
	<option>Австралия</option>
	<option>Австрия</option>
	<option>Беларусь</option>
	<option>Бельгия</option>
	<option>Болгария</option>
	<option>Великобритания</option>
	<option>Дания</option>
	<option>Индия</option>
	<option>Иран</option>
	<option>Ирландия</option>
	<option>Испания</option>
	<option>Италия</option>
	<option>Канада</option>
	<option>Китай</option>
    <option>Латвия</option>
    <option>Литва</option>
	<option>Люксембург</option>
	<option>Малайзия</option>
	<option>Нидерланды</option>
	<option>Норвегия</option>
	<option>О.А.Э.</option>
	<option>Пакистан</option>
	<option>Польша</option>
	<option>Португалия</option>
	<option>Сингапур</option>
	<option>Словения</option>
	<option>США</option>
	<option>Тайвань</option>
	<option>Тайланд</option>
	<option>Турция</option>
	<option>Украина</option>
	<option>Финляндия</option>
	<option>Франция</option>
	<option>Чешская Республика</option>
	<option>Чили</option>
	<option>Швейцария</option>
	<option>Швеция</option>
	<option>Эстония</option>
	<option>Южная Корея</option>
	<option>Япония</option>
</select>