@model dynamic

<header id="header">
    <div id="header-content">
        <div id="top-menu-wrapper">
            <ul id="top-menu">
                <li><a href="/buy">Купить</a> / </li>
                <li><a href="/sell">Продать</a> / </li>
                <li><a href="/services">Все сервисы</a> / </li>
                <li><a href="/my">Мой Kartel</a> / </li>
                <li><a href="/help">Помощь</a></li>
            </ul>
            <a id="top-login" href="/account/login">Вход в личный кабинет</a> / <a id="top-register" href="/account/register">Регистрация</a>
        </div>
        <div id="logo-line">
            <a href="/" id="logo">
                <img src="/Content/images/layout/logo.png" />
            </a>
            <div id="search-wrapper">
                <div id="search-fields-wrapper">
                    <div id="search-criteria">
                        <div id="selected-criteria">
                            Товары    
                        </div>
                    </div>
                    <div id="search-text-wrapper">
                        <input type="text" name="query" />
                    </div>
                </div>
                <input type="submit" value=" " />
            </div>
        </div>
    </div>
</header>
