@using Kartel.Domain.Infrastructure.Misc
@model Kartel.Domain.Entities.Product

<div class="hot-product">
    <div class="title">
        <a href="/product/@Model.Id?hot=1">@Model.Title.TrimEllipsis(30)</a>
    </div>
    <div class="image">
        <a href="/product/@Model.Id">
            @if (String.IsNullOrEmpty(Model.Img))
            {
                <img src="/files/prodimage/@Model.Img"/>
            }
        </a>
    </div>
    <div class="price">
        Цена: 
        @if (Model.GetPrice() != String.Empty)
        {
            <span class="price-holder">@Model.GetPrice() @Model.GetCurrency()</span>
        }
        else
        {
            <span class="price-holder">- - -</span>
        }
    </div>
</div>
