@using Kartel.Domain.Infrastructure.Misc
@model Kartel.Domain.Entities.Product

<div class="hot-product">
    <div class="title">
        <a href="/product/@Model.Id">@Model.Title.TrimEllipsis(30)</a>
    </div>
    <div class="image">
        <img src="/files/prodimage/@Model.Img"/>
    </div>
    <div class="price">
        Цена: <span class="price-holder">@Model.GetPrice() @Model.GetCurrency()</span>
    </div>
</div>