<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kartel.Domain.Properties.Settings.KartelConnectionString"
            connectionString="Data Source=.\SQLExpress;Initial Catalog=Kartel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>