<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td align="center">
            <table width="600" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;">
                <tr>
                    <td>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tr>
                                <td width="50%" style="padding: 10px 0;">
                                    <span style="font-family: Arial; font-size: 20px;">
                                        <a href="#" style="font-family: Arial; font-size: 20px; width: 244px; height: 39px;">
                                            <img src="http://s21.postimg.org/dx2i7egt3/logo.png" width="244" height="39"/>
                                        </a>
                                    </span>
                                </td>
                                <td width="50%" align="right" style="padding: 20px 0;">
                                    <a href="#"><span style="font-family: Arial; font-size: 13px; color: #808080;">Личный кабинет</span></a> <span>|</span> 
                                    <a href="#"><span style="font-family: Arial; font-size: 13px; color: #808080;">Помощь</span></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 25px 13px; width: 100%; background-color: #800000;">
                        <span style="font-family: Arial; font-size: 16px; color: #ffffff;">Сообщение для компании: 
                            <span><strong>"Рога и Копыта Inc."</strong></span></span>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 15px 10px;">
                        <span style="font-family: Arial; font-size: 13px;">Здравствуйте!</span>
                        <br/>
                        <br/>
                        <span style="font-family: Arial; font-size: 13px;">Некоторое время назад Вы зарегистрировали компанию 
                            <a href="#" style="color: #0080FF;">Рога и Копыта Inc.</a> в каталоге
                            <a href="http://www.karteltrade.ru" style="color: #0080FF;">www.KartelTrade.ru</a>, но до настоящего момента так и
                            не добавили ни одного товара.
                        </span>
                        <br/>
                        <br/>
                        <span style="font-family: Arial; font-size: 13px;">На данный момент посетители не могут видеть информацию о Вашей компании так как в каталоге
                            отсутствует информация о предлагаемых Вами товарах. Информация станет доступной как только
                            Вы добавите хотя бы один товар. С инструкцией по добавлению товаров можно ознакомиться в
                            разделе <a href="http://www.karteltrade.ru/help-seller.html" style="color: #0080FF;">Помощь</a>
                        </span>
                        <br/>
                        <br/>
                        <span style="font-family: Arial; font-size: 13px;">ПОМНИТЕ, чем больше Ваших товаров будет размещено на страницах каталога, тем больше шансов,
                            что посетители найдут и выберут именно Ваше компанию в качестве торгового партнёра.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="height: 50px; background-color: #800000"></td>
                </tr>
                <tr>
                    <td style="padding: 20px;">
                        <span style="font-family: Arial; font-size: 13px;">
                            <span style="color: #808080;">СЕРВИСЫ:</span>
                            <span style="padding: 0 5px;"><a href="#" style="color: #800000">Мой картель</a></span> |
                            <span style="padding: 0 5px;"><a href="#" style="color: #800000">Товары</a></span> |
                            <span style="padding: 0 5px;"><a href="#" style="color: #800000">Тендеры</a></span> |
                            <span style="padding: 0 5px;"><a href="#" style="color: #800000">Премиум услуги</a></span> |
                            <span style="padding: 0 5px;"><a href="#" style="color: #800000">Помощь</a></span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px; border-top: 1px solid #696A6A; border-bottom: 1px solid #696A6A;">
                        <span style="font-family: Arial; font-size: 13px; color: #808080;">Забыли свой пароль? </span>
                        <span style="font-family: Arial; font-size: 13px; color: #800000;"><a href="#" style="color: #800000">Восстановите сейчас</a></span>
                        <br/>
                        <br/>
                        <span style="font-family: Arial; font-size: 13px; color: #808080;">Вы получили данное письмо, так как Ваше e-mail (gorshenev_anton@mail.ru) был указан в качестве контактного при регистрации на сайте 
                            <a href="#" style="color: #800000">KartelTrade.ru</a></span>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px;">
                        <span style="font-family: Arial; font-size: 13px; color: #808080;">Есть вопросы? Задайте их нам <a href="#" style="color: #800000">gorshenev_anton@mail.ru</a></span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
