<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td align="center">
            <table width="600" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;">
                <tr>
                    <td>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tr>
                                <td width="50%" style="padding: 10px 0;">
                                    <span style="font-family: Arial; font-size: 20px;">
                                        <a href="#" style="font-family: Arial; font-size: 20px; width: 244px; height: 39px;">
                                            <img src="http://s21.postimg.org/dx2i7egt3/logo.png" width="244" height="39"/>
                                        </a>
                                    </span>
                                </td>
                                <td width="50%" align="right" style="padding: 20px 0;">
                                    <a href="http://karteltrade.ru/account"><span style="font-family: Arial; font-size: 13px; color: #808080;">Личный кабинет</span></a> <span>|</span> 
                                    <a href="http://karteltrade.ru/help"><span style="font-family: Arial; font-size: 13px; color: #808080;">Помощь</span></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 25px 13px; width: 100%; background-color: #800000;">
                        <span style="font-family: Arial; font-size: 16px; color: #ffffff;">Сообщение для компании: 
                            <span><strong>"${Company}"</strong></span></span>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 15px 10px;">
                        <span style="font-family: Arial; font-size: 13px;">Здравствуйте!</span>
                        <br/>
                        <br/>
                        <span style="font-family: Arial; font-size: 13px;">Товары Вашей компании 
                            <a href="http://karteltrade.ru/vendor" style="color: #0080FF;">${Company}</a> размещены в интернет-каталоге 
                            <a href="http://www.karteltrade.ru" style="color: #800000;">www.KartelTrade.ru</a>
                            <br/>
                            Адрес Вашей компании: ${City} ${Address}
                        </span>
                        <br/>
                        <br/>
                        <span style="font-family: Arial; font-size: 13px;">${TarifExpiration} истекает срок использования тарифа
                            <a href="#" style="color: #0080FF;">Золотой поставщик</a>. 
                            Для дальнейшего использования тарифа Вам необходимо продлить срок действия.
                        </span>
                        <br/>
                        <br/>
                        <span style="font-family: Arial; font-size: 13px;">
                            Стоимость продления составляет:
                            6 месяцев: 699 руб.
                            1 год: 999 руб.
                        </span>
                        <br/>
                        <br/>
                        <span style="font-family: Arial; font-size: 13px;">
                            Оплатить тариф Вы можете в 
                            <a href="http://karteltrade.ru/account" style="color: #0080FF;">Личном кабинете</a> 
                            на странице <a href="http://karteltrade.ru/account/gold" style="color: #0080FF;">Золотой поставщик</a>
                        </span>
                        <br/>
                        <br/>
                        <span style="font-family: Arial; font-size: 13px;">
                            При неоплате тарифа до ${TarifExpiration} Ваш аккаунт будет переведён на БЕСПЛАТНЫЙ тарифный план  
                            <a href="#" style="color: #0080FF;">FREE</a> 
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="height: 50px; background-color: #800000">
                        <img src="http://images2.wikia.nocookie.net/__cb20100822143346/runescape/images/2/21/1x1-pixel.png" width="100%" height="100%"/>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px;">
                        <span style="font-family: Arial; font-size: 13px;">
                            <span style="color: #808080;">СЕРВИСЫ:</span>
                            <span style="padding: 0 5px;"><a href="#" style="color: #800000">Мой картель</a></span> |
                            <span style="padding: 0 5px;"><a href="#" style="color: #800000">Товары</a></span> |
                            <span style="padding: 0 5px;"><a href="#" style="color: #800000">Тендеры</a></span> |
                            <span style="padding: 0 5px;"><a href="#" style="color: #800000">Премиум услуги</a></span> |
                            <span style="padding: 0 5px;"><a href="#" style="color: #800000">Помощь</a></span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px; border-top: 1px solid #696A6A; border-bottom: 1px solid #696A6A;">
                        <span style="font-family: Arial; font-size: 13px; color: #808080;">Забыли свой пароль? </span>
                        <span style="font-family: Arial; font-size: 13px; color: #800000;"><a href="http://karteltrade.ru/account/forgot" style="color: #800000">Восстановите сейчас</a></span>
                        <br/>
                        <br/>
                        <span style="font-family: Arial; font-size: 13px; color: #808080;">Вы получили данное письмо, так как Ваше e-mail (${Email}) был указан в качестве контактного при регистрации на сайте 
                            <a href="http://karteltrade.ru" style="color: #800000">KartelTrade.ru</a></span>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px;">
                        <span style="font-family: Arial; font-size: 13px; color: #808080;">Есть вопросы? Задайте их нам <a href="mailto:gorshenev_anton@mail.ru" style="color: #800000">gorshenev_anton@mail.ru</a></span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
