<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="/Content/styles/stylesheets/all.css" />
    <script src="/Scripts/Libs/jquery-1.9.1.min.js"></script>
</head>
<body></body>
</html>
@{
    ViewBag.Title = "Смена дизайна";
    //    Layout = "UserSiteLayout.cshtml";
}

<div id="design_editor">
    <form action="/account/savedesign" method="POST">
        <div id="design_settings_box">
            <div id="design_settings" class="fl">Настройка оформления сайта</div>
            <input id="save_design" type="submit" value="" class="fl" />
            <a id="close_editor_button" class="fl"></a>

            <div id="your_site" class="fr">
                <span>Ваш сайт: </span>
                <a href="#">www.kompany.karteltrade.ru</a>
            </div>
        </div>

        <div class="clear-fix"></div>

        <div id="editor_left" class="fl">
            <a href="#" class="editor-menu-item selected-item" id="design_common_link">Дизайны сайта</a>
            <a href="#" class="editor-menu-item" id="design_premium_link">Премиум дизайны</a>
        </div>
        <div id="editor_right" class="fr">
            <ul id="design_common_list">
                <li class="theme-item">
                    <a href="#">
                        <img src="/Content/images/account/dummy.jpg" alt="" /></a>
                </li>
                <li class="theme-item">
                    <a href="#">
                        <img src="/Content/images/account/dummy.jpg" alt="" /></a>
                </li>
                <li class="theme-item">
                    <a href="#">
                        <img src="/Content/images/account/dummy.jpg" alt="" /></a>
                </li>
                <li class="theme-item">
                    <a href="#">
                        <img src="/Content/images/account/dummy.jpg" alt="" /></a>
                </li>
                <li class="theme-item">
                    <a href="#">
                        <img src="/Content/images/account/dummy.jpg" alt="" /></a>
                </li>
                <li class="theme-item">
                    <a href="#">
                        <img src="/Content/images/account/dummy.jpg" alt="" /></a>
                </li>
                <li class="theme-item">
                    <a href="#">
                        <img src="/Content/images/account/dummy.jpg" alt="" /></a>
                </li>
                <li class="theme-item">
                    <a href="#">
                        <img src="/Content/images/account/dummy.jpg" alt="" /></a>
                </li>
                <li class="theme-item">
                    <a href="#">
                        <img src="/Content/images/account/dummy.jpg" alt="" /></a>
                </li>
                <li class="theme-item">
                    <a href="#">
                        <img src="/Content/images/account/dummy.jpg" alt="" /></a>
                </li>
                <li class="theme-item">
                    <a href="#">
                        <img src="/Content/images/account/dummy.jpg" alt="" /></a>
                </li>
                <li class="theme-item">
                    <a href="#">
                        <img src="/Content/images/account/dummy.jpg" alt="" /></a>
                </li>
                <li class="theme-item">
                    <a href="#">
                        <img src="/Content/images/account/dummy.jpg" alt="" /></a>
                </li>
                <li class="theme-item">
                    <a href="#">
                        <img src="/Content/images/account/dummy.jpg" alt="" /></a>
                </li>
                <li class="theme-item">
                    <a href="#">
                        <img src="/Content/images/account/dummy.jpg" alt="" /></a>
                </li>
            </ul>

            <ul id="design_premium_list" style="display: none;">
                <li class="theme-item">
                    <a href="#">
                        <img src="/Content/images/account/dummy.jpg" alt="" /></a>
                </li>
                <li class="theme-item">
                    <a href="#">
                        <img src="/Content/images/account/dummy.jpg" alt="" /></a>
                </li>
                <li class="theme-item">
                    <a href="#">
                        <img src="/Content/images/account/dummy.jpg" alt="" /></a>
                </li>
                <li class="theme-item">
                    <a href="#">
                        <img src="/Content/images/account/dummy.jpg" alt="" /></a>
                </li>
                <li class="theme-item">
                    <a href="#">
                        <img src="/Content/images/account/dummy.jpg" alt="" /></a>
                </li>
                <li class="theme-item">
                    <a href="#">
                        <img src="/Content/images/account/dummy.jpg" alt="" /></a>
                </li>
                <li class="theme-item">
                    <a href="#">
                        <img src="/Content/images/account/dummy.jpg" alt="" /></a>
                </li>
                <li class="theme-item">
                    <a href="#">
                        <img src="/Content/images/account/dummy.jpg" alt="" /></a>
                </li>
                <li class="theme-item">
                    <a href="#">
                        <img src="/Content/images/account/dummy.jpg" alt="" /></a>
                </li>
                <li class="theme-item">
                    <a href="#">
                        <img src="/Content/images/account/dummy.jpg" alt="" /></a>
                </li>
            </ul>
        </div>
        <div class="clear-fix"></div>
    </form>
</div>

<script>
    $(document).ready(
    function() {
        $('#design_common_link').click(function() {
            $('#design_common_list').show();
            $('#design_premium_list').hide();
        });

        $('#design_premium_link').click(function() {
            $('#design_common_list').hide();
            $('#design_premium_list').show();
        });
    })
</script>
