@model dynamic

@{
    ViewBag.Title = "Сообщение отправлено";
    Layout = "UserSiteLayout.cshtml";
}

<div class="panel">
    <div class="panel-title gradient">
        Сообщение отправлено
    </div>
    <div class="panel-content">
        Ваше сообщение было отправлено. Пользователь ответит вам в ближайшее время.
    </div>
</div>
