@using Kartel.Trade.Web.Classes.Ext
@model Kartel.Domain.Entities.Product

@{
    ViewBag.Title = "Задать вопрос по товару "+Model.Title;
    Layout = "UserSiteLayout.cshtml";
}

<div class="panel">
    <div class="panel-title gradient">
        Задать вопрос по товару
    </div>
    <div class="panel-content">
        @if (!String.IsNullOrEmpty(Model.Img))
        {
            <div style="text-align: center; margin: 15px;">
                <img style="width: 100%" src="/files/prodimage/@Model.Img" alt="@Model.Title"/>
            </div>
        }
        <div style="margin: 15px 0px; font-size: 12px">
            Здесь Вы можете задать вопрос поставщику данного товара. Для этого, пожалуйста, заполните все поля формы.
        </div>
        <form action="/vendor/feedback/@Model.User.Id" method="POST" id="feedback-form">
            <div class="field">
                <div class="label">
                    Тема сообщения
                </div>
                <div class="editor">
                    <input type="text" name="Subject" placeholder="Ваше имя" value="Вопрос по товару '@Model.Title'"/>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    Ваше имя
                </div>
                <div class="editor">
                    <input type="text" name="Name" placeholder="Ваше имя" value="@(ViewContext.IsAuthentificated() ? ViewContext.CurrentUser().FIO : "")"/>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    Ваш e-mail
                </div>
                <div class="editor">
                    <input type="text" name="Email" placeholder="Ваш email" value="@(ViewContext.IsAuthentificated() ? ViewContext.CurrentUser().Email : "")"/>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    Текст вопроса
                </div>
                <div class="editor">
                    <textarea name="Content" placeholder="Текст вопроса"></textarea>
                </div>
            </div>
            <div class="submit-wrapper">
                <input type="submit" class="gradient" value="Отправить"/>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#feedback-form").validate({
            rules: {
                Name: {
                    required: true,
                    maxlength: 65
                },
                Email: {
                    required: true,
                    maxlength: 120,
                    email: true
                },
                Content: {
                    required: true,
                    maxlength: 255,
                    minlength: 10
                },
                Subject: {
                    required: true,
                    maxlength: 100
                }
            }
        });
    });
</script>