@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>ACCESS DENIED</title>
    </head>
    <body>
        <div style="color: red; font-weight: bold; size: 20px; padding: 40px; text-align: center">
            ACCESS DENIED MOTHER FUCKER  
        </div>
    </body>
</html>