.account
	background: url(../../images/layout/innerbg.png) !important
	font-family: Arial

	#header
		border-bottom: 0
		background: none
		height: auto !important
		margin-bottom: 25px

		#header-content
			width: 1240px
			margin:  0px auto
			margin-top: 25px
			padding-bottom: 15px
			border-bottom: 1px solid white


			#select-name
				float: right
				color: #bebebe
				margin-right: 0px

				.name-part
					font-weight: bold
					color:  white

				input[type='text']
					border: 0
					background-color: white
					padding: 3px
					width:  95px

				input[type='submit']
					border: 0
					width:  30px
					height:  18px
					background: url(../../images/account/submitdomain.png)
					margin-left: 5px
					cursor: pointer

			#logo
				margin-left: 0px

	#content
		margin: 0
		position: relative

		#content-section-bg
			display: inline-block
			vertical-align: top
			position: absolute
			background-color: #fafafa
			padding: 5px
			border-top-right-radius: 5px
			border-bottom-right-radius: 5px
			z-index: 9
			left: 0px
			top: 0px

			#content-section-inner
				width: 100%
				border: 1px dashed #c5c5c5
				border-left: 0

		#content-wrapper
			width: 1240px
			margin: 0px auto
			position: relative
			z-index: 10

			#menu-block
				float: right
				width: 220px

				.menu-block
					margin-bottom: 35px

					.title
						font-size: 14px
						color: #33a1c2
						font-weight: bold
						border-bottom: 1px dashed white
						padding-bottom: 10px
						font-family: Arial

					ul
						li
							list-style-position: inside
							list-style-image: url(../../images/layout/bullet.png)
							border-bottom: 1px dashed white
							margin: 5px 0px
							padding-bottom: 10px

							a
								color: white
								font-family: Verdana
								font-size: 12px

								&:hover
									text-decoration: underline




