.icon-move-up, .icon-move-down
	width : 14px
	height: 19px

.icon-move-up
	background: url("/Content/images/account/move-up.png")

.icon-move-down
	background: url("/Content/images/account/move-down.png")

.icon-edit
	width: 23px
	height: 24px
	background: url("/Content/images/account/edit.png")

.icon-remove
	width: 15px
	height: 15px
	background: url("/Content/images/account/remove.png")

.icon-email
	width : 30px
	height : 31px
	background: url("/Content/images/account/email.png")

.icon-sms
	width : 33px
	height : 31px
	background: url("/Content/images/account/sms.png")

.icon-email, .icon-sms
	position: absolute
	right: 30px
	top: -10px