.account
	background: url(../../images/layout/innerbg.png) !important
	font-family: Arial

	#header
		border-bottom: 0
		background: none
		height: auto !important
		margin-bottom: 15px

		#header-content
			width: 1240px
			margin:  0px auto
			margin-top: 25px

			#select-name
				float: right
				color: #bebebe
				margin-right: 0px

				.name-part
					font-weight: bold
					color:  white

				input[type='text']
					border: 0
					background-color: white
					padding: 3px
					width:  95px

				input[type='submit']
					border: 0
					width:  30px
					height:  18px
					background: url(../../images/account/submitdomain.png)
					margin-left: 5px
					cursor: pointer

			#logo
				margin-left: 0px

			#header-links
				border-top: 1px solid white
				padding-top: 15px
				margin-top: 15px

				#ask
					background: url(../../images/account/message.png) left center no-repeat
					padding-left: 30px
					color: white
					font-size: 14px
					text-decoration: underline


	#content
		margin: 0
		position: relative

		#content-section-bg
			display: inline-block
			vertical-align: top
			position: absolute
			background-color: #fafafa
			padding: 5px
			border-top-right-radius: 5px
			border-bottom-right-radius: 0px
			z-index: 9
			left: 0px
			top: 0px

			#content-section-inner
				width: 100%
				border: 1px dashed #c5c5c5
				border-bottom: 0
				border-left: 0

		#content-wrapper
			width: 1240px
			margin: 0px auto
			position: relative
			z-index: 10

			#menu-block
				float: right
				width: 220px

				.menu-block
					margin-bottom: 35px

					.title
						font-size: 14px
						color: #33a1c2
						font-weight: bold
						border-bottom: 1px dashed white
						padding-bottom: 10px
						font-family: Arial

					ul
						li
							list-style-position: inside
							list-style-image: url(../../images/layout/bullet.png)
							border-bottom: 1px dashed white
							margin: 5px 0px
							padding-bottom: 10px

							a
								color: white
								font-family: Verdana
								font-size: 12px

								&:hover
									text-decoration: underline

			#content-section
				width: 1240px - 250px

	.fields-group
		margin: 15px
		margin-bottom: 30px
		background-color: #f0f0f0
		padding: 15px 0px
		border-bottom: 1px solid #cecece
		border-bottom-right-radius: 4px
		border-bottom-left-radius: 4px

		.column
			display: inline-block
			vertical-align: top
			width: 30%
			margin-left: 30px

		.fields-title
			font-size: 20px
			font-weight: bold
			color: #33a1c2
			padding: 10px 20px
			padding-top: 0px
			border-bottom: 1px solid #ddddde
			margin-bottom: 15px

		.separator
			margin: 25px 0px
			height:  1px
			border-bottom: 1px solid #ddddde

		ul
			margin: 5px 15px

			li
				margin: 7px 0px
				list-style-type: disc
				list-style-position: inside

		.field
			margin-bottom: 10px

			&:first-child
				margin-top: 15px

			.label
				display: inline-block
				vertical-align: top
				text-align: right
				width: 293px
				padding-top: 5px

				.asterix
					color: red

				a
					color: black

			.editor
				display: inline-block
				vertical-align: top
				margin-left: 10px

				&:first-child
					text-align: center

					textarea
						width: 720px
						margin-left: 100px


				input[type='text'], textarea
					border: 1px solid #cdcdcd
					padding: 3px
					width: 390px

					&.small
						width: 123px


				textarea
					min-height: 150px

				label.error
					margin-left: 5px
					color:  red

				.details
					color: gray
					font-size:  10px
					margin-top: 5px

		.offers-table
			width: 100%
			margin-top: 10px
			color: black

			thead
				tr
					th
						font-size: 18px
						text-align: center
						border: 1px solid darkgray
						padding: 5px

						&:first-child
							border-left: 0

						&:last-child
							border-right: 0

			tbody
				tr
					td
						font-size: 14px
						text-align: center
						border: 1px solid darkgray
						padding: 5px

						&:first-child
							border-left: 0

						&:last-child
							border-right: 0

						a
							color: #3c9cff
							font-weight: bold

							&:hover
								text-decoration: underline

						.answer
							margin-top: 5px
							display: block
							vertical-align: top
							padding: 3px
							color: black
							cursor: pointer
							text-transform: UPPERCASE
							font-weight: bold
							padding-left: 30px
							background: url(../../images/account/answer-tender.png) left center no-repeat
							text-align: left
							margin-left: 30px

	input.save[type='submit']
		width: 229px
		height: 47px
		background: url(../../images/account/save.png)
		border: 0
		cursor: pointer
		margin-bottom: 25px

	#add-product
		display: inline-block
		vertical-align: top
		width: 149px
		height:  28px
		cursor: pointer
		background:  url(../../images/account/add-product.png) left top no-repeat
		margin-left: 20px

	#add-category
		display: inline-block
		vertical-align: top
		width: 183px
		height:  28px
		cursor: pointer
		background:  url(../../images/account/add-category.png) left top no-repeat
		margin-left: 20px

	#add-tender
		display: inline-block
		vertical-align: top
		width: 159px
		height:  28px
		cursor: pointer
		background:  url(../../images/account/add-tender-inner.png) left top no-repeat
		margin-left: 20px

	.categories-table, .tenders-table
		border-top: 2px solid #ddddde
		width: 100%
		margin-top: 15px

		tbody
			tr
				td
					border: 1px solid #ddddde
					padding:  15px
					text-align:  center
					vertical-align: middle

					a
						color: black

						&:hover
							text-decoration: underline

					&:first-child
						border-left: 0
						text-align:  left

						a
							color: #33a1c2 !important
							font-weight: bold

					&:last-child
						border-right: 0

	.action-panel
		background: #f0f0f0
		padding: 10px

		.select-all
			width: 18px
			height: 17px
			cursor: pointer
			margin-right: 15px

			&.top
				background: url(../../images/account/top-check.png) left top no-repeat

			&.bottom
				background: url(../../images/account/bottom-check.png) left top no-repeat

		.round
			background: #fbfbfb
			background: -moz-linear-gradient(top,  #fbfbfb 1%, #d8d8da 100%)
			background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fbfbfb), color-stop(100%,#d8d8da))
			background: -webkit-linear-gradient(top,  #fbfbfb 1%,#d8d8da 100%)
			background: -o-linear-gradient(top,  #fbfbfb 1%,#d8d8da 100%)
			background: -ms-linear-gradient(top,  #fbfbfb 1%,#d8d8da 100%)
			background: linear-gradient(to bottom,  #fbfbfb 1%,#d8d8da 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#d8d8da',GradientType=0 )
			border:  1px solid #808080
			border-radius: 5px
			padding: 5px 10px
			color:  black
			margin: 0px 10px
			cursor: pointer

	.products-table
		width: 100%

		tr
			border-top: 1px solid #e2e2e2
			border-bottom: 1px solid #e2e2e2

			&:hover
				background-color: #f0f0f0

			td
				padding: 15px
				text-align: center
				vertical-align: middle

				a
					color: black

					&:hover
						text-decoration: underline

				&.name
					text-align: left
					width: 100%

					a
						color: #33a1c2 !important
						font-weight: bold

	.hot-product-stats
		margin: 15px 40px

		.item
			font-weight: bold
			margin-bottom: 10px
			font-size:  15px

		.pay-hot-product
			float: right
			margin-top: 10px

			.round
				background: #fbfbfb
				background: -moz-linear-gradient(top,  #fbfbfb 1%, #d8d8da 100%)
				background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fbfbfb), color-stop(100%,#d8d8da))
				background: -webkit-linear-gradient(top,  #fbfbfb 1%,#d8d8da 100%)
				background: -o-linear-gradient(top,  #fbfbfb 1%,#d8d8da 100%)
				background: -ms-linear-gradient(top,  #fbfbfb 1%,#d8d8da 100%)
				background: linear-gradient(to bottom,  #fbfbfb 1%,#d8d8da 100%)
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#d8d8da',GradientType=0 )
				border:  1px solid #808080
				border-radius: 5px
				padding: 5px 10px
				font-weight: bold
				color:  black
				margin: 0px 10px
				cursor: pointer

	.send-title
		margin-left: 40px

		a
			color: #33a1c2
			font-size: 13px

			&:hover
				text-decoration: underline


			b
				font-weight: bold




	.categories-selector
		width: 100%

		td
			width: 25%
			border: 1px solid #ddddde

			select
				width: 99%
				height: auto