#banners-block
	height: 353px
	background: url(../../images/main/banners-frame.png) top center no-repeat

.hr
	height: 2px
	width:  100%
	background: url(../../images/main/hr.png) top center no-repeat
	margin: 15px 0px
	margin-top: 5px

.mainblock
	border: 1px solid #bbbbbb
	padding: 10px
	border-radius: 5px
	margin: 0px 5px
	position: relative

	ul
		li
			list-style-type: disc
			list-style-position: inside
			margin: 5px 0px
			padding-left: 5px

	#gold-vendor-info
		display: inline-block
		vertical-align: top
		width: 325px
		margin-left: 10px
		border-right: 1px dashed #bbbbbb

		.title
			font-weight: bold
			text-transform: uppercase
			margin-top: 5px
			margin-bottom: 10px

	#place-info
		display: inline-block
		vertical-align: top
		width: 340px
		text-align: center

		#place-goods
			display: inline-block
			vertical-align: top
			width: 138px
			height: 52px
			cursor: pointer
			background: url(../../images/main/placegoods.png) left top no-repeat
			margin-right: 10px

			&:hover
				background: url(../../images/main/placegoods.png) left -52px no-repeat

		#place-tenders
			display: inline-block
			vertical-align: top
			width: 138px
			height: 52px
			cursor: pointer
			background: url(../../images/main/placetenders.png) left top no-repeat

			&:hover
				background: url(../../images/main/placetenders.png) left -52px no-repeat

		ul
			text-align: left
			margin-left: 30px
			margin-top: 10px

		.free
			color: #004080
			font-size: 20px
			margin-top: 10px

	.goldvendor
		position: absolute
		bottom: -8px
		width: 243px
		height: 41px
		background: url(../../images/main/goldvendor.png) top center no-repeat
		left: 55px

	.row
		border-bottom: 1px dashed #bbbbbb
		padding: 10px 0px

		&:last-child
			border-bottom: 0

		.item
			padding: 5px
			border-right: 1px dashed #bbbbbb
			display: inline-block
			vertical-align: top
			width: 159px
			height: 159px

			&:last-child
				border-right: 0




