@model dynamic

@{
    ViewBag.Title = "Изменение пароля";
    Layout = "AccountLayout.cshtml";
}


<div id="page-register">

    @Html.ValidationSummary()

    <form method="POST" action="/account/do-change-password" id="change-form">
        <div class="field">
            <div class="label header">
                Изменение пароля
            </div>
        </div>
        <div></div>
        <div class="field">
            <div class="label">
                <span class="asterix">*</span> Старый пароль
            </div>
            <div class="editor">
                <input type="password" name="OldPassword" maxlength="255" placeholder="" />
            </div>
        </div>
        <div class="field">
            <div class="label">
                <span class="asterix">*</span> Новый пароль
            </div>
            <div class="editor">
                <input type="password" id="new-password-field" name="NewPassword" maxlength="255" placeholder="" />
            </div>
        </div>
        <div class="field">
            <div class="label">
                <span class="asterix">*</span> Подтвердите новый пароль
            </div>
            <div class="editor">
                <input type="password" name="NewPasswordConfirm" maxlength="255" placeholder="" />
            </div>
        </div>
        
        <input type="submit" id="reg-button" value=" "/>
    </form>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $("#change-form").validate({
                rules: {
                    OldPassword: {
                        required: true
                    },
                    NewPassword: {
                        required: true,
                        minlength: 6
                    },
                    NewPasswordConfirm: {
                        required: true,
                        minlength: 6,
                        equalTo: "#new-password-field"
                    },
                }
            })
        });
    </script>
</div>
