@model dynamic

@{
    ViewBag.Title = "Восстановление пароля";
    Layout = "../Shared/_Layout.cshtml";
}

<div id="page-register">
    @* Хлебная крошка *@
    @Html.Partial("NavigationChain")

    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.ValidationSummary()
        <div class="field">
            <div class="label header">
                Восстановление забытого пароля
            </div>
        </div>
        <div></div>
        <div class="field">
            <div class="label">
                <span class="asterix">*</span> Логин (Email)
            </div>
            <div class="editor">
                <input type="text" name="Login" maxlength="255" placeholder="" />
            </div>
        </div>       
        <input type="submit" name="login" value="Восстановить пароль" />
    }
</div>
