@model dynamic

@{
    ViewBag.Title = "Восстановление пароля";
    Layout = "../Shared/_Layout.cshtml";
}
@* Хлебная крошка *@
@Html.Partial("NavigationChain")

<div id="page-register">
    @Html.ValidationSummary()
    
    @if (TempData["Message"] != null)
    {
        <div>@TempData["Message"]</div>
    }
    else
    {
        <form method="POST" action="/account/forgotpassword" id="login-form">
        <div class="field">
            <div class="label header">
                Восстановление забытого пароля
            </div>
        </div>
        @if (TempData["Error"] != null)
        {
            <p>@TempData["Error"]</p>
        }
        <div class="field">
            <div class="label">
                <span class="asterix">*</span> Логин (Email)
            </div>
            <div class="editor">
                <input type="text" name="email" maxlength="255" placeholder="" />
            </div>
        </div>

        <input type="submit" id="reg-button" value=" " />
    </form>
    }
</div>
