@model dynamic

@{
    ViewBag.Title = "Уведомление о восстановлении пароля";
    Layout = "../Shared/_Layout.cshtml";
}

<div>
    @* Хлебная крошка *@
    @Html.Partial("NavigationChain")

        <div class="field">
            <div class="label header">
                Инструкция по восстановления пароля выслана на указанный e-mail.
            </div>
            @Html.ActionLink("Перейти к форме авторизации", "Login", new {@class = "link-blue"})
        </div>
        <div></div>
        <div class="field">
            <div class="label">
                <span class="asterix">*</span> Логин (Email)
            </div>
            <div class="editor">
                <input type="text" name="Login" maxlength="255" placeholder="" />
            </div>
        </div>       
    }
</div>l>