@using Kartel.Trade.Web.Controllers
@model dynamic

@{
    ViewBag.Title = "Товары";
    Layout = "AccountLayout.cshtml";
}

<div class="account-content">
    <div style="margin-top: 15px; margin-left: 15px">
        @Html.Partial("NavigationChain")
    </div>
    <div class="fields-group">
        <div id="add-product" onclick="window.location.href='/account/products/add-product'"></div>
        <div id="add-category" onclick="window.location.href='/account/products/add-category'"></div>
        <table class="categories-table">
            <tbody>
                @{
                    var userCategories = ( (BaseController) ViewContext.Controller ).CurrentUser.GetUserCategories()
                        .OrderBy(p => p.Position).ToList();
                }
                @foreach (var category in userCategories)
                {
                    <tr>
                        <td>
                            <a href="/account/products/category-products/@category.Id">@category.Title</a> (@category.GetProductsCount())
                        </td>
                        <td>
                            @if (category.Position != 0)
                            {
                                <a href="/account/products/move-category-up/@category.Id"><span class="icon-move-up"></span></a>
                            }
                        </td>
                        <td>
                            @if (category.Position != userCategories.Last().Position)
                            {
                                <a href="/account/products/move-category-down/@category.Id"><span class="icon-move-down"></span></a>
                            }
                        </td>
                        <td>
                            <a href="/account/products/edit-category/@category.Id">
                                <span class="icon-edit"></span><span style="text-decoration: underline; position: relative; top: -5px; left: 5px;">Редактировать</span>
                            </a>
                        </td>
                        <td>
                            <a href="/account/products/delete-category/@category.Id" onclick="return confirm('Действительно хотите удалить эту категорию?')" style="position: relative; top : 3px;">
                                <span class="icon-remove"></span><span style="text-decoration: underline; position: relative; top: -3px; left: 5px;">Удалить</span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
