@model dynamic

@{
    ViewBag.Title = "Профиль сохранен";
    Layout = "AccountLayout.cshtml";
}
@Html.Partial("NavigationChain")

<div style="margin-top: 25px">Профиль компании был успешно сохранен.</div>