@model Kartel.Domain.Entities.User

@{
    ViewBag.Title = "Ввод нового пароля";
    Layout = "../Shared/_Layout.cshtml";
}

@* Хлебная крошка *@
@Html.Partial("NavigationChain")

<div id="page-register">

    @Html.ValidationSummary()

    <form method="POST" action="/account/doresetpassword" id="login-form">
        <div class="field">
            <div class="label header">
                Введите новый пароль
            </div>
        </div>
        @if (TempData["Error"] != null)
        {
            <p>@TempData["Error"]</p>
        }
        @Html.HiddenFor(m => m.Email)
        <div class="field">
            <div class="label">
                <span class="asterix">*</span> Пароль
            </div>
            <div class="editor">
                <input type="password" name="Password" maxlength="255" placeholder="" />
            </div>
        </div>
        <div class="field">
            <div class="label">
                <span class="asterix">*</span> Повторите пароль
            </div>
            <div class="editor">
                <input type="password" name="confirm" maxlength="255" placeholder="" />
            </div>
        </div>
        <input type="submit" id="reg-button" value=" " />
    </form>
</div>
