@model dynamic

@{
    ViewBag.Title = "Успешная регистрация в системе UniSender";
    Layout = "AccountLayout.cshtml";
}

<div style="margin-top: 15px">

    @* Навигационная цепочка *@
    @Html.Partial("NavigationChain")
</div>

<div style="margin: 15px 0px">
    Уважаемый пользователь. Вы успешно зарегистрировались в нашей партнерской системе UniSender. На ваш E-mail было отправлено уведомление о регистрации, а так же логин и пароль для доступа на сайт наших партнеров для осуществления рассылки.
</div>
