@model dynamic

@{
    ViewBag.Title = "Регистрация в системе UniSender";
    Layout = "AccountLayout.cshtml";
}

<div style="margin-top: 15px">

    @* Навигационная цепочка *@
    @Html.Partial("NavigationChain")
</div>

<div style="margin: 15px 0px">
    Уважаемый пользователь. E-mail и SMS рассылки производятся через нашего партнера - компанию UniSender. Для того чтобы максимально упростить для Вас процедуру регистрации и использования данной системы, мы предоставляем Вам упрощенную автоматическую регистрацию. Для этого нажмите на ссылку ниже.
</div>
<div style="text-align: center">
    <a href="/account/sending/registration">ЗАРЕГИСТРИРОВАТЬСЯ В UNISENDER</a>
</div>
