/* line 3, ../sass/account.sass */
.account {
  background: url(../../images/layout/innerbg.png) !important;
  font-family: Arial;
}
/* line 7, ../sass/account.sass */
.account #header {
  border-bottom: 0;
  background: none;
  height: auto !important;
  margin-bottom: 15px;
}
/* line 13, ../sass/account.sass */
.account #header #header-content {
  width: 1240px;
  margin: 0px auto;
  margin-top: 25px;
}
/* line 18, ../sass/account.sass */
.account #header #header-content #select-name {
  float: right;
  color: #bebebe;
  margin-right: 0px;
}
/* line 23, ../sass/account.sass */
.account #header #header-content #select-name .name-part {
  font-weight: bold;
  color: white;
}
/* line 27, ../sass/account.sass */
.account #header #header-content #select-name input[type='text'] {
  border: 0;
  background-color: white;
  padding: 3px;
  width: 95px;
}
/* line 33, ../sass/account.sass */
.account #header #header-content #select-name input[type='submit'] {
  border: 0;
  width: 30px;
  height: 18px;
  background: url(../../images/account/submitdomain.png);
  margin-left: 5px;
  cursor: pointer;
}
/* line 41, ../sass/account.sass */
.account #header #header-content #logo {
  margin-left: 0px;
}
/* line 44, ../sass/account.sass */
.account #header #header-content #header-links {
  border-top: 1px solid white;
  padding-top: 15px;
  margin-top: 15px;
  font-weight: bold;
}
/* line 50, ../sass/account.sass */
.account #header #header-content #header-links #ask {
  background: url(../../images/account/message.png) left center no-repeat;
  padding-left: 30px;
  color: white;
  font-size: 14px;
  text-decoration: underline;
}
/* line 57, ../sass/account.sass */
.account #header #header-content #header-links #golden_supplier {
  margin-left: 30px;
  cursor: pointer;
  color: white;
  font-size: 14px;
  text-decoration: underline;
  position: relative;
}
/* line 65, ../sass/account.sass */
.account #header #header-content #header-links #golden_supplier > span {
  width: 222px;
  height: 22px;
  margin-top: -15px;
  position: absolute;
  background: url("/Content/images/account/goldvendor2.png");
  left: 15px;
}
/* line 73, ../sass/account.sass */
.account #header #header-content #header-links #golden_supplier #golden_supplier_popup_wrapper {
  position: absolute;
  display: none;
  left: 15px;
}
/* line 78, ../sass/account.sass */
.account #header #header-content #header-links #golden_supplier #golden_supplier_popup_wrapper .empty-block {
  width: 100%;
  height: 13px;
}
/* line 82, ../sass/account.sass */
.account #header #header-content #header-links #golden_supplier #golden_supplier_popup_wrapper #golden_supplier_popup {
  width: 200px !important;
  padding: 10px;
  cursor: default;
  color: black;
  border: 1px solid silver;
  border-radius: 5px;
  background-color: white;
}
/* line 91, ../sass/account.sass */
.account #header #header-content #header-links #golden_supplier #golden_supplier_popup_wrapper #golden_supplier_popup h2 {
  margin: 3px 0 16px 0;
  text-align: center;
  font-size: 18px;
}
/* line 96, ../sass/account.sass */
.account #header #header-content #header-links #golden_supplier #golden_supplier_popup_wrapper #golden_supplier_popup ul {
  padding-left: 10px;
}
/* line 98, ../sass/account.sass */
.account #header #header-content #header-links #golden_supplier #golden_supplier_popup_wrapper #golden_supplier_popup ul li {
  margin: 12px 0px;
  font-size: 12px !important;
  list-style-type: disc;
  list-style-position: outside;
}
/* line 104, ../sass/account.sass */
.account #header #header-content #header-links #golden_supplier #golden_supplier_popup_wrapper #golden_supplier_popup #plug_now {
  width: 179px;
  height: 32px;
  margin: 8px 0;
  background: url("/Content/images/account/plug-now.jpg");
  display: inline-block;
  text-align: center;
}
/* line 113, ../sass/account.sass */
.account #header #header-content #header-links #golden_supplier:hover #golden_supplier_popup_wrapper {
  display: block;
  z-index: 100000;
}
/* line 117, ../sass/account.sass */
.account #content {
  width: 100%;
  display: table;
}
/* line 121, ../sass/account.sass */
.account #content > div {
  width: auto;
  display: table-cell;
}
/* line 125, ../sass/account.sass */
.account #content > div#left_block {
  background-color: #fafafa;
  padding: 5px 0;
  vertical-align: top;
}
/* line 130, ../sass/account.sass */
.account #content > div#left_block #left_block_bg {
  border-top: 1px dashed #c5c5c5;
  border-bottom: 1px dashed #c5c5c5;
}
/* line 135, ../sass/account.sass */
.account #content #content-section-bg {
  height: 100% !important;
  float: left !important;
  background-color: #fafafa;
  padding: 5px 5px 5px 0 !important;
  margin: 0 5px 0 0 !important;
  border-radius: 0 5px 5px 0 !important;
  position: static !important;
  display: block !important;
}
/* line 145, ../sass/account.sass */
.account #content #content-section-bg #content-section-inner {
  border-top: 1px dashed #c5c5c5 !important;
  border-right: 1px dashed #c5c5c5 !important;
  border-bottom: 1px dashed #c5c5c5 !important;
  border-left: none !important;
}
/* line 151, ../sass/account.sass */
.account #content #content-wrapper {
  width: 1240px !important;
  margin: 0px auto;
}
/* line 155, ../sass/account.sass */
.account #content #content-wrapper #menu-block {
  float: right;
  width: 220px;
}
/* line 159, ../sass/account.sass */
.account #content #content-wrapper #menu-block .menu-block {
  margin-bottom: 35px;
}
/* line 162, ../sass/account.sass */
.account #content #content-wrapper #menu-block .menu-block .title {
  font-size: 14px;
  color: #33a1c2;
  font-weight: bold;
  border-bottom: 1px dashed white;
  padding-bottom: 10px;
  font-family: Arial;
}
/* line 171, ../sass/account.sass */
.account #content #content-wrapper #menu-block .menu-block ul li {
  list-style-position: inside;
  list-style-image: url(../../images/layout/bullet.png);
  border-bottom: 1px dashed white;
  margin: 5px 0px;
  padding-bottom: 10px;
}
/* line 178, ../sass/account.sass */
.account #content #content-wrapper #menu-block .menu-block ul li a {
  color: white;
  font-family: Verdana;
  font-size: 12px;
}
/* line 183, ../sass/account.sass */
.account #content #content-wrapper #menu-block .menu-block ul li a:hover {
  text-decoration: underline;
}
/* line 186, ../sass/account.sass */
.account #content #content-wrapper #content-section {
  width: 990px;
}
/* line 189, ../sass/account.sass */
.account .fields-group {
  margin: 15px;
  margin-bottom: 30px;
  background-color: #f0f0f0;
  padding: 15px 0px;
  border-bottom: 1px solid #cecece;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 198, ../sass/account.sass */
.account .fields-group .column {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-left: 30px;
}
/* line 204, ../sass/account.sass */
.account .fields-group .fields-title {
  font-size: 20px;
  font-weight: bold;
  color: #33a1c2;
  padding: 10px 20px;
  padding-top: 0px;
  border-bottom: 1px solid #ddddde;
  margin-bottom: 15px;
}
/* line 213, ../sass/account.sass */
.account .fields-group .separator {
  margin: 25px 0px;
  height: 1px;
  border-bottom: 1px solid #ddddde;
}
/* line 218, ../sass/account.sass */
.account .fields-group ul {
  margin: 5px 15px;
}
/* line 221, ../sass/account.sass */
.account .fields-group ul li {
  margin: 7px 0px;
  list-style-type: disc;
  list-style-position: inside;
}
/* line 226, ../sass/account.sass */
.account .fields-group .field {
  margin-bottom: 10px;
}
/* line 229, ../sass/account.sass */
.account .fields-group .field .label {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  width: 293px;
  padding-top: 5px;
}
/* line 236, ../sass/account.sass */
.account .fields-group .field .label .asterix {
  color: red;
}
/* line 239, ../sass/account.sass */
.account .fields-group .field .label a {
  color: black;
}
/* line 242, ../sass/account.sass */
.account .fields-group .field .editor {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}
/* line 247, ../sass/account.sass */
.account .fields-group .field .editor:first-child {
  text-align: center;
}
/* line 250, ../sass/account.sass */
.account .fields-group .field .editor:first-child textarea {
  width: 720px;
  margin-left: 100px;
}
/* line 255, ../sass/account.sass */
.account .fields-group .field .editor input[type='text'], .account .fields-group .field .editor textarea {
  border: 1px solid #cdcdcd;
  padding: 3px;
  width: 390px;
}
/* line 260, ../sass/account.sass */
.account .fields-group .field .editor input[type='text'].small, .account .fields-group .field .editor textarea.small {
  width: 123px;
}
/* line 264, ../sass/account.sass */
.account .fields-group .field .editor textarea {
  min-height: 150px;
}
/* line 267, ../sass/account.sass */
.account .fields-group .field .editor label.error {
  margin-left: 5px;
  color: red;
}
/* line 271, ../sass/account.sass */
.account .fields-group .field .editor .details {
  color: gray;
  font-size: 10px;
  margin-top: 5px;
}
/* line 276, ../sass/account.sass */
.account .fields-group .field:first-child {
  margin-top: 15px;
}
/* line 279, ../sass/account.sass */
.account .fields-group .offers-table {
  width: 100%;
  margin-top: 10px;
  color: black;
}
/* line 286, ../sass/account.sass */
.account .fields-group .offers-table thead tr th {
  font-size: 18px;
  text-align: center;
  border: 1px solid darkgray;
  padding: 5px;
}
/* line 292, ../sass/account.sass */
.account .fields-group .offers-table thead tr th:first-child {
  border-left: 0;
}
/* line 295, ../sass/account.sass */
.account .fields-group .offers-table thead tr th:last-child {
  border-right: 0;
}
/* line 300, ../sass/account.sass */
.account .fields-group .offers-table tbody tr td {
  font-size: 14px;
  text-align: center;
  border: 1px solid darkgray;
  padding: 5px;
}
/* line 306, ../sass/account.sass */
.account .fields-group .offers-table tbody tr td:first-child {
  border-left: 0;
}
/* line 309, ../sass/account.sass */
.account .fields-group .offers-table tbody tr td:last-child {
  border-right: 0;
}
/* line 312, ../sass/account.sass */
.account .fields-group .offers-table tbody tr td a {
  color: #3c9cff;
  font-weight: bold;
}
/* line 316, ../sass/account.sass */
.account .fields-group .offers-table tbody tr td a:hover {
  text-decoration: underline;
}
/* line 319, ../sass/account.sass */
.account .fields-group .offers-table tbody tr td .answer {
  margin-top: 5px;
  display: block;
  vertical-align: top;
  padding: 3px;
  color: black;
  cursor: pointer;
  text-transform: UPPERCASE;
  font-weight: bold;
  padding-left: 30px;
  background: url(../../images/account/answer-tender.png) left center no-repeat;
  text-align: left;
  margin-left: 30px;
}
/* line 333, ../sass/account.sass */
.account input.save[type='submit'] {
  width: 229px;
  height: 47px;
  background: url(../../images/account/save.png);
  border: 0;
  cursor: pointer;
  margin-bottom: 25px;
}
/* line 341, ../sass/account.sass */
.account #add-product {
  display: inline-block;
  vertical-align: top;
  width: 149px;
  height: 27px;
  cursor: pointer;
  background: url(../../images/account/add-product.png) left top no-repeat;
  margin-left: 20px;
}
/* line 350, ../sass/account.sass */
.account #add-category {
  display: inline-block;
  vertical-align: top;
  width: 193px;
  height: 27px;
  cursor: pointer;
  background: url(../../images/account/add-category.png) left top no-repeat;
  margin-left: 20px;
}
/* line 359, ../sass/account.sass */
.account #add-tender {
  display: inline-block;
  vertical-align: top;
  width: 159px;
  height: 28px;
  cursor: pointer;
  background: url(../../images/account/add-tender-inner.png) left top no-repeat;
  margin-left: 20px;
}
/* line 368, ../sass/account.sass */
.account .categories-table, .account .tenders-table {
  border-top: 2px solid #ddddde;
  width: 100%;
  margin-top: 15px;
}
/* line 375, ../sass/account.sass */
.account .categories-table tbody tr td, .account .tenders-table tbody tr td {
  border: 1px solid #ddddde;
  padding: 15px;
  text-align: center;
  vertical-align: middle;
}
/* line 381, ../sass/account.sass */
.account .categories-table tbody tr td a, .account .tenders-table tbody tr td a {
  color: black;
  text-decoration: underline;
}
/* line 385, ../sass/account.sass */
.account .categories-table tbody tr td:first-child, .account .tenders-table tbody tr td:first-child {
  border-left: 0;
  text-align: left;
}
/* line 389, ../sass/account.sass */
.account .categories-table tbody tr td:first-child a, .account .tenders-table tbody tr td:first-child a {
  color: #33a1c2 !important;
  font-weight: bold;
}
/* line 393, ../sass/account.sass */
.account .categories-table tbody tr td:last-child, .account .tenders-table tbody tr td:last-child {
  border-right: 0;
}
/* line 396, ../sass/account.sass */
.account .action-panel {
  background: #f0f0f0;
  padding: 10px;
}
/* line 400, ../sass/account.sass */
.account .action-panel .select-all {
  width: 18px;
  height: 17px;
  cursor: pointer;
  margin-right: 15px;
}
/* line 406, ../sass/account.sass */
.account .action-panel .select-all.top {
  background: url(../../images/account/top-check.png) left top no-repeat;
}
/* line 409, ../sass/account.sass */
.account .action-panel .select-all.bottom {
  background: url(../../images/account/bottom-check.png) left top no-repeat;
}
/* line 412, ../sass/account.sass */
.account .action-panel .round {
  background: #fbfbfb;
  background: -moz-linear-gradient(top, #fbfbfb 1%, #d8d8da 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #fbfbfb), color-stop(100%, #d8d8da));
  background: -webkit-linear-gradient(top, #fbfbfb 1%, #d8d8da 100%);
  background: -o-linear-gradient(top, #fbfbfb 1%, #d8d8da 100%);
  background: -ms-linear-gradient(top, #fbfbfb 1%, #d8d8da 100%);
  background: linear-gradient(to bottom, #fbfbfb 1%, #d8d8da 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#d8d8da',GradientType=0 );
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
  margin: 0px 10px;
  cursor: pointer;
}
/* line 428, ../sass/account.sass */
.account .products-table {
  width: 100%;
}
/* line 431, ../sass/account.sass */
.account .products-table tr {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}
/* line 435, ../sass/account.sass */
.account .products-table tr:hover {
  background-color: #f0f0f0;
}
/* line 438, ../sass/account.sass */
.account .products-table tr td {
  padding: 15px;
  text-align: center;
  vertical-align: middle;
}
/* line 443, ../sass/account.sass */
.account .products-table tr td a {
  color: black;
  text-decoration: underline;
}
/* line 447, ../sass/account.sass */
.account .products-table tr td.name {
  text-align: left;
  width: 100%;
}
/* line 451, ../sass/account.sass */
.account .products-table tr td.name a {
  color: #33a1c2 !important;
  font-weight: bold;
}
/* line 455, ../sass/account.sass */
.account .hot-product-stats {
  margin: 15px 40px;
}
/* line 458, ../sass/account.sass */
.account .hot-product-stats .item {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 15px;
}
/* line 463, ../sass/account.sass */
.account .hot-product-stats .pay-hot-product {
  float: right;
  margin-top: 10px;
}
/* line 467, ../sass/account.sass */
.account .hot-product-stats .pay-hot-product .round {
  background: #fbfbfb;
  background: -moz-linear-gradient(top, #fbfbfb 1%, #d8d8da 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #fbfbfb), color-stop(100%, #d8d8da));
  background: -webkit-linear-gradient(top, #fbfbfb 1%, #d8d8da 100%);
  background: -o-linear-gradient(top, #fbfbfb 1%, #d8d8da 100%);
  background: -ms-linear-gradient(top, #fbfbfb 1%, #d8d8da 100%);
  background: linear-gradient(to bottom, #fbfbfb 1%, #d8d8da 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#d8d8da',GradientType=0 );
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: bold;
  color: black;
  margin: 0px 10px;
  cursor: pointer;
}
/* line 484, ../sass/account.sass */
.account .send-title {
  margin-left: 40px;
}
/* line 487, ../sass/account.sass */
.account .send-title a {
  color: #33a1c2;
  font-size: 13px;
}
/* line 491, ../sass/account.sass */
.account .send-title a:hover {
  text-decoration: underline;
}
/* line 495, ../sass/account.sass */
.account .send-title a b {
  font-weight: bold;
}
/* line 498, ../sass/account.sass */
.account .categories-selector {
  width: 100%;
}
/* line 501, ../sass/account.sass */
.account .categories-selector td {
  width: 25%;
  border: 1px solid #ddddde;
}
/* line 505, ../sass/account.sass */
.account .categories-selector td select {
  width: 99%;
  height: auto;
}
/* line 509, ../sass/account.sass */
.account .round {
  background: #fbfbfb;
  background: -moz-linear-gradient(top, #fbfbfb 1%, #d8d8da 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #fbfbfb), color-stop(100%, #d8d8da));
  background: -webkit-linear-gradient(top, #fbfbfb 1%, #d8d8da 100%);
  background: -o-linear-gradient(top, #fbfbfb 1%, #d8d8da 100%);
  background: -ms-linear-gradient(top, #fbfbfb 1%, #d8d8da 100%);
  background: linear-gradient(to bottom, #fbfbfb 1%, #d8d8da 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#d8d8da',GradientType=0 );
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
  margin: 0px 10px;
  cursor: pointer;
  display: inline-block;
}

/* line 1, ../sass/account-icons.sass */
.icon-move-up, .icon-move-down {
  width: 14px;
  height: 19px;
}

/* line 5, ../sass/account-icons.sass */
.icon-move-up {
  background: url("/Content/images/account/move-up.png");
}

/* line 8, ../sass/account-icons.sass */
.icon-move-down {
  background: url("/Content/images/account/move-down.png");
}

/* line 11, ../sass/account-icons.sass */
.icon-edit {
  width: 23px;
  height: 24px;
  background: url("/Content/images/account/edit.png");
}

/* line 16, ../sass/account-icons.sass */
.icon-remove {
  width: 15px;
  height: 15px;
  background: url("/Content/images/account/remove.png");
}

/* line 21, ../sass/account-icons.sass */
.icon-email {
  width: 30px;
  height: 31px;
  background: url("/Content/images/account/email.png");
}

/* line 26, ../sass/account-icons.sass */
.icon-sms {
  width: 33px;
  height: 31px;
  background: url("/Content/images/account/sms.png");
}

/* line 31, ../sass/account-icons.sass */
.icon-email, .icon-sms {
  position: absolute;
  right: 30px;
  top: -10px;
}

/* line 528, ../sass/account.sass */
#feature_list {
  margin-top: 18px;
}
/* line 531, ../sass/account.sass */
#feature_list li {
  margin: 12px 0;
  font-size: 13px;
}
