/* line 1, ../sass/account-icons.sass */
.icon-move-up, .icon-move-down {
  width: 14px;
  height: 19px;
}

/* line 5, ../sass/account-icons.sass */
.icon-move-up {
  background: url("/Content/images/account/move-up.png");
}

/* line 8, ../sass/account-icons.sass */
.icon-move-down {
  background: url("/Content/images/account/move-down.png");
}

/* line 11, ../sass/account-icons.sass */
.icon-edit {
  width: 23px;
  height: 24px;
  background: url("/Content/images/account/edit.png");
}

/* line 16, ../sass/account-icons.sass */
.icon-remove {
  width: 15px;
  height: 15px;
  background: url("/Content/images/account/remove.png");
}

/* line 21, ../sass/account-icons.sass */
.icon-email {
  width: 30px;
  height: 31px;
  background: url("/Content/images/account/email.png");
}

/* line 26, ../sass/account-icons.sass */
.icon-sms {
  width: 33px;
  height: 31px;
  background: url("/Content/images/account/sms.png");
}

/* line 31, ../sass/account-icons.sass */
.icon-email, .icon-sms {
  position: absolute;
  right: 30px;
  top: -10px;
}
