/* line 1, ../sass/reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0 none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../sass/reset.sass */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/reset.sass */
body {
  line-height: 1;
}

/* line 29, ../sass/reset.sass */
a, a:hover {
  text-decoration: none;
}

/* line 32, ../sass/reset.sass */
ol, ul {
  list-style: none;
}

/* line 35, ../sass/reset.sass */
blockquote, q {
  quotes: none;
}

/* line 38, ../sass/reset.sass */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 43, ../sass/reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 47, ../sass/reset.sass */
span {
  display: inline-block;
}

/* line 1, ../sass/layout.sass */
body {
  background-color: #fafafa;
  font-family: "Microsoft Sans Serif";
  font-size: 12px;
  color: #444444;
}
/* line 7, ../sass/layout.sass */
body.inner {
  background: url(../../images/layout/innerbg.png) !important;
}
/* line 10, ../sass/layout.sass */
body.inner #header {
  border-bottom: 0;
  background: none;
}
/* line 14, ../sass/layout.sass */
body.inner #content {
  margin: 0;
}
/* line 17, ../sass/layout.sass */
body.inner #content #content-section {
  width: 740px !important;
}
/* line 20, ../sass/layout.sass */
body.inner #content #content-section #content-inner-wrapper {
  padding: 15px 35px;
  padding-right: 0px;
  padding-bottom: 5px;
}
/* line 25, ../sass/layout.sass */
body.inner #footer {
  border-top: 0;
  background: none;
  margin-top: 20px;
}
/* line 30, ../sass/layout.sass */
body #header {
  height: 102px;
  background: url(../../images/layout/header-bg.png) center top repeat-x;
  padding-bottom: 5px;
  border-bottom: 1px dashed #c5c5c5;
}
/* line 36, ../sass/layout.sass */
body #header #header-content {
  width: 970px;
  margin: 0px auto;
}
/* line 40, ../sass/layout.sass */
body #header #header-content #top-menu-wrapper {
  margin-left: 20px;
  padding-top: 10px;
  color: #efefef;
  font-family: Arial;
}
/* line 46, ../sass/layout.sass */
body #header #header-content #top-menu-wrapper #top-login {
  padding-left: 42px;
  color: #efefef;
  font-family: Arial;
  font-size: 13px;
  text-decoration: none;
  background: url(../../images/layout/login.png) left center no-repeat;
  margin-right: 10px;
}
/* line 55, ../sass/layout.sass */
body #header #header-content #top-menu-wrapper #top-login:hover {
  text-decoration: underline;
}
/* line 58, ../sass/layout.sass */
body #header #header-content #top-menu-wrapper #top-register {
  margin-left: 10px;
  padding-left: 23px;
  color: #efefef;
  font-family: Arial;
  font-size: 13px;
  text-decoration: none;
  background: url(../../images/layout/register.png) left center no-repeat;
  margin-right: 15px;
}
/* line 68, ../sass/layout.sass */
body #header #header-content #top-menu-wrapper #top-register:hover {
  text-decoration: underline;
}
/* line 71, ../sass/layout.sass */
body #header #header-content #top-menu-wrapper #top-menu {
  display: inline-block;
  vertical-align: top;
  float: right;
}
/* line 77, ../sass/layout.sass */
body #header #header-content #top-menu-wrapper #top-menu li {
  display: inline-block;
  vertical-align: top;
  font-family: Arial;
  font-size: 13px;
  margin-right: 10px;
}
/* line 84, ../sass/layout.sass */
body #header #header-content #top-menu-wrapper #top-menu li:last-child {
  margin-right: 0px;
}
/* line 86, ../sass/layout.sass */
body #header #header-content #top-menu-wrapper #top-menu li:last-child a {
  margin-right: 0px;
}
/* line 89, ../sass/layout.sass */
body #header #header-content #top-menu-wrapper #top-menu li a {
  color: #efefef;
  font-family: Arial;
  font-size: 13px;
  text-decoration: none;
  background: url(../../images/layout/arrow-right.png) right center no-repeat;
  margin-right: 8px;
  padding-right: 11px;
}
/* line 98, ../sass/layout.sass */
body #header #header-content #top-menu-wrapper #top-menu li a:hover {
  text-decoration: underline;
}
/* line 101, ../sass/layout.sass */
body #header #header-content #logo-line {
  margin-top: 30px;
}
/* line 104, ../sass/layout.sass */
body #header #header-content #logo-line #logo {
  margin-left: 14px;
  display: inline-block;
  vertical-align: top;
}
/* line 109, ../sass/layout.sass */
body #header #header-content #logo-line #search-wrapper {
  display: inline-block;
  vertical-align: top;
  margin-left: 25px;
}
/* line 114, ../sass/layout.sass */
body #header #header-content #logo-line #search-wrapper #search-fields-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 580px;
  height: 30px;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  background-color: white;
  position: relative;
  top: -2px;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}
/* line 126, ../sass/layout.sass */
body #header #header-content #logo-line #search-wrapper #search-fields-wrapper #search-criteria {
  display: inline-block;
  vertical-align: top;
  width: 140px;
  background: url(../../images/layout/search-separator.png) right center no-repeat;
  height: 30px;
  cursor: pointer;
}
/* line 134, ../sass/layout.sass */
body #header #header-content #logo-line #search-wrapper #search-fields-wrapper #search-criteria #selected-criteria {
  width: 120px;
  text-align: center;
  margin: 7px 0px;
  font-size: 14px;
  color: #666666;
  font-weight: bold;
}
/* line 142, ../sass/layout.sass */
body #header #header-content #logo-line #search-wrapper #search-fields-wrapper #search-text-wrapper {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}
/* line 147, ../sass/layout.sass */
body #header #header-content #logo-line #search-wrapper #search-fields-wrapper #search-text-wrapper input[type='text'] {
  padding: 5px 7px;
  width: 400px;
  border: 0;
}
/* line 153, ../sass/layout.sass */
body #header #header-content #logo-line #search-wrapper input[type='submit'] {
  border: 0px;
  width: 115px;
  height: 33px;
  cursor: pointer;
  background: url(../../images/layout/search.png) left top no-repeat;
  margin-left: 11px;
  position: relative;
  top: -2px;
}
/* line 163, ../sass/layout.sass */
body #content {
  margin: 25px 0px;
}
/* line 166, ../sass/layout.sass */
body #content #content-wrapper {
  width: 980px;
  margin: 0px auto;
}
/* line 170, ../sass/layout.sass */
body #content #content-wrapper #content-categories {
  display: inline-block;
  vertical-align: top;
  position: relative;
  border: 1px solid #c7c7c7;
  background-color: white;
  padding: 5px;
  margin-right: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}
/* line 181, ../sass/layout.sass */
body #content #content-wrapper #content-categories #categories-header {
  height: 66px;
  background: url(../../images/layout/cate-header.png) center top no-repeat;
  position: relative;
  top: -13px;
}
/* line 188, ../sass/layout.sass */
body #content #content-wrapper #content-categories #categories li {
  width: 214px;
  min-height: 14px;
  background: url(../../images/layout/catbg1.png) left top no-repeat;
  cursor: pointer;
  padding: 8px;
}
/* line 195, ../sass/layout.sass */
body #content #content-wrapper #content-categories #categories li:hover {
  background: url(../../images/layout/catbg1.png) left -30px no-repeat;
}
/* line 198, ../sass/layout.sass */
body #content #content-wrapper #content-categories #categories li:hover a {
  color: white;
}
/* line 201, ../sass/layout.sass */
body #content #content-wrapper #content-categories #categories li.big {
  min-height: 33px;
  background: url(../../images/layout/catbg2.png) left top no-repeat !important;
  line-height: 1.25;
  padding-right: 12px;
  width: 210px;
}
/* line 208, ../sass/layout.sass */
body #content #content-wrapper #content-categories #categories li.big:hover {
  background: url(../../images/layout/catbg2.png) left -49px no-repeat !important;
}
/* line 213, ../sass/layout.sass */
body #content #content-wrapper #content-categories #categories li a {
  color: #4b4b4b;
  font-size: 13px;
  text-decoration: none;
}
/* line 218, ../sass/layout.sass */
body #content #content-wrapper #content-categories #categories li a:hover {
  text-decoration: none;
}
/* line 221, ../sass/layout.sass */
body #content #content-wrapper #left-menu-block {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin-right: 0px;
  padding-left: 15px;
}
/* line 228, ../sass/layout.sass */
body #content #content-wrapper #left-menu-block .menu-block {
  margin-bottom: 25px;
}
/* line 231, ../sass/layout.sass */
body #content #content-wrapper #left-menu-block .menu-block .menu-block-title {
  font-size: 14px;
  color: white;
  font-weight: bold;
  border-bottom: 1px dashed white;
  padding-bottom: 10px;
  font-family: Arial;
}
/* line 240, ../sass/layout.sass */
body #content #content-wrapper #left-menu-block .menu-block ul li {
  list-style-position: inside;
  list-style-image: url(../../images/layout/bullet.png);
  border-bottom: 1px dashed white;
  margin: 5px 0px;
  padding-bottom: 10px;
}
/* line 247, ../sass/layout.sass */
body #content #content-wrapper #left-menu-block .menu-block ul li a {
  color: white;
  font-family: Verdana;
  font-size: 12px;
}
/* line 252, ../sass/layout.sass */
body #content #content-wrapper #left-menu-block .menu-block ul li a:hover {
  text-decoration: underline;
}
/* line 257, ../sass/layout.sass */
body #content #content-wrapper #content-section-bg {
  display: inline-block;
  vertical-align: top;
  margin-left: 25px;
  position: absolute;
  background-color: #fafafa;
  padding: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 9;
}
/* line 268, ../sass/layout.sass */
body #content #content-wrapper #content-section-bg #content-section-inner {
  width: 100%;
  border: 1px dashed #c5c5c5;
  border-right: 0;
}
/* line 273, ../sass/layout.sass */
body #content #content-wrapper #content-section {
  display: inline-block;
  vertical-align: top;
  width: 720px;
  position: relative;
  z-index: 10;
}
/* line 280, ../sass/layout.sass */
body #footer {
  height: 28px;
  padding-top: 5px;
  border-top: 1px dashed #c5c5c5;
  background: url(../../images/layout/footer-bg.png) center bottom repeat-x;
}
/* line 286, ../sass/layout.sass */
body #footer #footer-content {
  width: 970px;
  margin: 0px auto;
  padding-left: 50px;
  color: #efefef;
  font-family: Arial;
  padding-top: 7px;
}
/* line 294, ../sass/layout.sass */
body #footer #footer-content a {
  font-size: 14px;
  font-weight: bold;
  font-family: Arial;
  color: #efefef;
  margin-right: 5px;
}

/* line 1, ../sass/page-main.sass */
#banners-block {
  height: 353px;
  background: url(../../images/main/banners-frame.png) top center no-repeat;
}

/* line 5, ../sass/page-main.sass */
.hr {
  height: 2px;
  width: 100%;
  background: url(../../images/main/hr.png) top center no-repeat;
  margin: 15px 0px;
  margin-top: 5px;
}

/* line 12, ../sass/page-main.sass */
.mainblock {
  border: 1px solid #bbbbbb;
  padding: 10px;
  border-radius: 5px;
  margin: 0px 5px;
  position: relative;
}
/* line 20, ../sass/page-main.sass */
.mainblock ul li {
  list-style-type: disc;
  list-style-position: inside;
  margin: 5px 0px;
  padding-left: 5px;
}
/* line 26, ../sass/page-main.sass */
.mainblock #gold-vendor-info {
  display: inline-block;
  vertical-align: top;
  width: 325px;
  margin-left: 10px;
  border-right: 1px dashed #bbbbbb;
}
/* line 33, ../sass/page-main.sass */
.mainblock #gold-vendor-info .title {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 10px;
}
/* line 39, ../sass/page-main.sass */
.mainblock #place-info {
  display: inline-block;
  vertical-align: top;
  width: 340px;
  text-align: center;
}
/* line 45, ../sass/page-main.sass */
.mainblock #place-info #place-goods {
  display: inline-block;
  vertical-align: top;
  width: 138px;
  height: 52px;
  cursor: pointer;
  background: url(../../images/main/placegoods.png) left top no-repeat;
  margin-right: 10px;
}
/* line 54, ../sass/page-main.sass */
.mainblock #place-info #place-goods:hover {
  background: url(../../images/main/placegoods.png) left -52px no-repeat;
}
/* line 57, ../sass/page-main.sass */
.mainblock #place-info #place-tenders {
  display: inline-block;
  vertical-align: top;
  width: 138px;
  height: 52px;
  cursor: pointer;
  background: url(../../images/main/placetenders.png) left top no-repeat;
}
/* line 65, ../sass/page-main.sass */
.mainblock #place-info #place-tenders:hover {
  background: url(../../images/main/placetenders.png) left -52px no-repeat;
}
/* line 68, ../sass/page-main.sass */
.mainblock #place-info ul {
  text-align: left;
  margin-left: 30px;
  margin-top: 10px;
}
/* line 73, ../sass/page-main.sass */
.mainblock #place-info .free {
  color: #004080;
  font-size: 20px;
  margin-top: 10px;
}
/* line 78, ../sass/page-main.sass */
.mainblock .goldvendor {
  position: absolute;
  bottom: -8px;
  width: 243px;
  height: 41px;
  background: url(../../images/main/goldvendor.png) top center no-repeat;
  left: 55px;
}
/* line 86, ../sass/page-main.sass */
.mainblock .row {
  border-bottom: 1px dashed #bbbbbb;
  padding: 10px 0px;
}
/* line 90, ../sass/page-main.sass */
.mainblock .row:last-child {
  border-bottom: 0;
}
/* line 93, ../sass/page-main.sass */
.mainblock .row .item {
  padding: 5px;
  border-right: 1px dashed #bbbbbb;
  display: inline-block;
  vertical-align: top;
  width: 159px;
  height: 159px;
}
/* line 101, ../sass/page-main.sass */
.mainblock .row .item:last-child {
  border-right: 0;
}

/* line 1, ../sass/categories.sass */
#navigation-chain {
  margin-bottom: 15px;
}
/* line 4, ../sass/categories.sass */
#navigation-chain .navigation-chain-item, #navigation-chain .navigation-chain-inactive {
  color: #3f3f3f;
  font-family: Arial;
  font-size: 12px;
}
/* line 9, ../sass/categories.sass */
#navigation-chain a:hover {
  text-decoration: underline;
}

/* line 12, ../sass/categories.sass */
#page-categories {
  margin-left: 7px;
}
/* line 15, ../sass/categories.sass */
#page-categories .current-category-title {
  font-size: 18px;
  color: #3f3f3f;
  margin-bottom: 20px;
}
/* line 20, ../sass/categories.sass */
#page-categories .products-count {
  color: #a1a2a2;
  font-family: Arial;
}
/* line 24, ../sass/categories.sass */
#page-categories .category-1-level {
  margin-bottom: 15px;
  clear: both;
}
/* line 28, ../sass/categories.sass */
#page-categories .category-1-level .category-1-title {
  padding: 5px 7px;
  font-size: 16px;
  font-family: Arial;
  color: white;
  background: url(../../images/layout/innerbg.png);
  margin-bottom: 15px;
}
/* line 36, ../sass/categories.sass */
#page-categories .category-1-level .category-1-image {
  float: left;
  width: 165px;
  min-height: 165px;
}
/* line 41, ../sass/categories.sass */
#page-categories .category-1-level .category-1-child {
  display: inline-block;
  vertical-align: top;
  width: 530px;
}
/* line 46, ../sass/categories.sass */
#page-categories .category-1-level .category-1-child .category-2-level {
  display: inline-block;
  vertical-align: top;
  width: 260px;
  margin-bottom: 15px;
}
/* line 54, ../sass/categories.sass */
#page-categories .category-1-level .category-1-child .category-2-level .category-2-title a {
  color: #008ac0;
  font-family: Arial;
  font-size: 14px;
}
/* line 59, ../sass/categories.sass */
#page-categories .category-1-level .category-1-child .category-2-level .category-2-title a:hover {
  text-decoration: underline;
}
/* line 63, ../sass/categories.sass */
#page-categories .category-1-level .category-1-child .category-2-level .category-2-child li.level-3 {
  list-style-type: disc;
  list-style-position: inside;
  margin: 5px 0px;
  margin-left: 7px;
}
/* line 69, ../sass/categories.sass */
#page-categories .category-1-level .category-1-child .category-2-level .category-2-child li.level-3 a {
  color: #686868;
  font-family: Arial;
  font-size: 13px;
}
/* line 74, ../sass/categories.sass */
#page-categories .category-1-level .category-1-child .category-2-level .category-2-child li.level-3 a:hover {
  text-decoration: underline;
}
/* line 78, ../sass/categories.sass */
#page-categories .category-1-level .category-1-child .category-2-level .category-2-child li.level-3 .category-4-child li.level-4 {
  list-style-type: square;
  list-style-position: inside;
  margin: 5px 0px;
  margin-left: 7px;
}
/* line 84, ../sass/categories.sass */
#page-categories #hot-products {
  border: 1px solid #bebebe;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
}
/* line 90, ../sass/categories.sass */
#page-categories #hot-products #hot-actions {
  border-top: 1px dashed #bebebe;
  padding-top: 5px;
  margin-top: 5px;
}
/* line 95, ../sass/categories.sass */
#page-categories #hot-products #hot-actions a {
  color: #5f5f5f;
}
/* line 98, ../sass/categories.sass */
#page-categories #hot-products #hot-actions a:hover {
  text-decoration: underline;
}
/* line 101, ../sass/categories.sass */
#page-categories #products {
  text-align: center;
}
/* line 104, ../sass/categories.sass */
#page-categories #paginator {
  text-align: center;
}
/* line 107, ../sass/categories.sass */
#page-categories #paginator a {
  border: 1px solid black;
  padding: 4px 8px;
  cursor: pointer;
  color: #444444;
}
/* line 113, ../sass/categories.sass */
#page-categories #paginator span {
  border: 1px solid transparent;
  padding: 4px 8px;
}
/* line 117, ../sass/categories.sass */
#page-categories .info {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #bbbbbb;
  padding: 14px;
  width: 300px;
  height: 110px;
  margin: 5px;
  border-radius: 5px;
  font-family: Arial;
  text-align: left;
  margin-top: 25px;
}
/* line 130, ../sass/categories.sass */
#page-categories .info .info-title {
  font-size: 18px;
  font-weight: bold;
}
/* line 134, ../sass/categories.sass */
#page-categories .info .info-text {
  margin-top: 20px;
  line-height: 1.5;
}
/* line 138, ../sass/categories.sass */
#page-categories .info .action-text {
  margin-top: 15px;
  color: #004080;
  font-weight: bold;
  font-size: 13px;
}
/* line 144, ../sass/categories.sass */
#page-categories .info .action-button {
  float: right;
  margin-top: 15px;
  cursor: pointer;
}

/* line 1, ../sass/products.sass */
.products-navigator {
  margin: 15px 0px;
  background: url(../../images/layout/innerbg.png);
  padding: 10px;
  font-size: 12px;
  color: white;
  font-family: Arial;
  min-height: 15px;
  border-radius: 5px;
}
/* line 11, ../sass/products.sass */
.products-navigator .product-sort {
  float: right;
}
/* line 14, ../sass/products.sass */
.products-navigator .prev {
  padding-left: 32px;
  position: relative;
  top: 4px;
  background: url(../../images/layout/pprev.png) left center no-repeat;
  border-right: 1px solid white;
  padding-right: 8px;
  cursor: pointer;
}
/* line 23, ../sass/products.sass */
.products-navigator .next {
  padding-right: 32px;
  position: relative;
  top: 8px;
  cursor: pointer;
  background: url(../../images/layout/pnext.png) right center no-repeat;
}
/* line 30, ../sass/products.sass */
.products-navigator .next:hover, .products-navigator .prev:hover {
  text-decoration: underline;
}

/* line 34, ../sass/products.sass */
.hot-product {
  display: inline-block;
  vertical-align: top;
  border-right: 1px dashed #bebebe;
  text-align: center;
  width: 170px;
  font-family: Arial;
}
/* line 42, ../sass/products.sass */
.hot-product:last-child {
  border-right: 0 !important;
}
/* line 45, ../sass/products.sass */
.hot-product .title {
  height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 50, ../sass/products.sass */
.hot-product .title a {
  color: #0099cc;
  font-size: 13px;
  font-weight: bold;
  font-family: Arial;
  height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 59, ../sass/products.sass */
.hot-product .title a:hover {
  text-decoration: underline;
}
/* line 62, ../sass/products.sass */
.hot-product .image {
  margin-top: 15px;
  min-height: 85px;
}
/* line 66, ../sass/products.sass */
.hot-product .image img {
  max-width: 150px;
  max-height: 120px;
  min-height: 100px;
}
/* line 71, ../sass/products.sass */
.hot-product .price {
  color: #999999;
  margin-top: 25px;
  font-size: 14px;
}
/* line 76, ../sass/products.sass */
.hot-product .price .price-holder {
  margin-left: 5px;
  color: #444444;
}

/* line 80, ../sass/products.sass */
.product {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  text-align: left;
  margin: 12px;
}
/* line 87, ../sass/products.sass */
.product .image {
  border: 1px solid #c3c3c3;
  height: 200px;
  text-align: center;
  overflow: hidden;
}
/* line 93, ../sass/products.sass */
.product .image img {
  width: 190px;
  height: auto;
}
/* line 97, ../sass/products.sass */
.product .title {
  margin-top: 5px;
  height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 103, ../sass/products.sass */
.product .title a {
  color: #3c9cff;
  font-family: Verdana;
  height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 110, ../sass/products.sass */
.product .title a:hover {
  text-decoration: underline;
}
/* line 113, ../sass/products.sass */
.product .details {
  margin-top: 15px;
  color: #919191;
  text-align: left;
  font-size: 10px;
}
/* line 119, ../sass/products.sass */
.product .details .detailItem {
  margin-bottom: 5px;
}
/* line 122, ../sass/products.sass */
.product .author {
  margin-top: 10px;
}
/* line 125, ../sass/products.sass */
.product .author a {
  color: #919191;
}

/* line 1, ../sass/page-register.sass */
#page-register {
  margin-top: 5px;
  margin-left: 15px;
  min-height: 600px;
  font-family: Arial;
}
/* line 7, ../sass/page-register.sass */
#page-register #registration-info {
  float: right;
  border: 1px solid #bebebe;
  border-radius: 5px;
  padding: 10px;
  width: 195px;
}
/* line 14, ../sass/page-register.sass */
#page-register #registration-info .title {
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px;
}
/* line 19, ../sass/page-register.sass */
#page-register #registration-info .info {
  margin-top: 20px;
  line-height: 1.5;
}
/* line 23, ../sass/page-register.sass */
#page-register #registration-info .info .digit {
  color: #b8b8b8;
}
/* line 26, ../sass/page-register.sass */
#page-register #registration-info .free {
  margin-top: 20px;
  color: #02659e;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
/* line 33, ../sass/page-register.sass */
#page-register .required-warning {
  font-size: 16px;
  margin: 20px 0px;
  color: #0170a5;
  font-style: italic;
}
/* line 39, ../sass/page-register.sass */
#page-register .field {
  margin-bottom: 3px;
}
/* line 42, ../sass/page-register.sass */
#page-register .field .label {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  width: 210px;
  margin-right: 10px;
  padding-top: 10px;
  font-weight: bold;
}
/* line 51, ../sass/page-register.sass */
#page-register .field .label.header {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 10px;
}
/* line 57, ../sass/page-register.sass */
#page-register .field .label .asterix {
  color: #0170a5;
}
/* line 60, ../sass/page-register.sass */
#page-register .field .editor {
  display: inline-block;
  vertical-align: top;
}
/* line 64, ../sass/page-register.sass */
#page-register .field .editor input[type='text'], #page-register .field .editor input[type='password'] {
  background-color: white;
  padding: 5px;
  width: 270px;
  border: 1px solid #cecece;
  border-radius: 3px;
}
/* line 71, ../sass/page-register.sass */
#page-register .field .editor input[type='text'].small, #page-register .field .editor input[type='password'].small {
  width: 80px !important;
}
/* line 74, ../sass/page-register.sass */
#page-register .field .editor input[type='text'].error, #page-register .field .editor input[type='password'].error {
  background-color: #ffc7bb;
}
/* line 77, ../sass/page-register.sass */
#page-register .field .editor #captcha-image {
  width: 115px;
  height: 37px;
  margin-right: 5px;
}
/* line 82, ../sass/page-register.sass */
#page-register .field .editor #captcha-field {
  width: 150px;
}
/* line 85, ../sass/page-register.sass */
#page-register .field .editor label.error {
  color: red;
  margin-left: 5px;
}
/* line 89, ../sass/page-register.sass */
#page-register #reg-button {
  margin-top: 25px;
  width: 149px;
  height: 28px;
  cursor: pointer;
  background: url(../../images/layout/doreg.png);
  border: 0;
  margin-left: 220px;
}

/* line 1, ../sass/account.sass */
.account {
  background: url(../../images/layout/innerbg.png) !important;
  font-family: Arial;
}
/* line 5, ../sass/account.sass */
.account #header {
  border-bottom: 0;
  background: none;
  height: auto !important;
  margin-bottom: 25px;
}
/* line 11, ../sass/account.sass */
.account #header #header-content {
  width: 1240px;
  margin: 0px auto;
  margin-top: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid white;
}
/* line 19, ../sass/account.sass */
.account #header #header-content #select-name {
  float: right;
  color: #bebebe;
  margin-right: 0px;
}
/* line 24, ../sass/account.sass */
.account #header #header-content #select-name .name-part {
  font-weight: bold;
  color: white;
}
/* line 28, ../sass/account.sass */
.account #header #header-content #select-name input[type='text'] {
  border: 0;
  background-color: white;
  padding: 3px;
  width: 95px;
}
/* line 34, ../sass/account.sass */
.account #header #header-content #select-name input[type='submit'] {
  border: 0;
  width: 30px;
  height: 18px;
  background: url(../../images/account/submitdomain.png);
  margin-left: 5px;
  cursor: pointer;
}
/* line 42, ../sass/account.sass */
.account #header #header-content #logo {
  margin-left: 0px;
}
/* line 45, ../sass/account.sass */
.account #content {
  margin: 0;
  position: relative;
}
/* line 49, ../sass/account.sass */
.account #content #content-section-bg {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  background-color: #fafafa;
  padding: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 9;
  left: 0px;
  top: 0px;
}
/* line 61, ../sass/account.sass */
.account #content #content-section-bg #content-section-inner {
  width: 100%;
  border: 1px dashed #c5c5c5;
  border-left: 0;
}
/* line 66, ../sass/account.sass */
.account #content #content-wrapper {
  width: 1240px;
  margin: 0px auto;
  position: relative;
  z-index: 10;
}
/* line 72, ../sass/account.sass */
.account #content #content-wrapper #menu-block {
  float: right;
  width: 220px;
}
/* line 76, ../sass/account.sass */
.account #content #content-wrapper #menu-block .menu-block {
  margin-bottom: 35px;
}
/* line 79, ../sass/account.sass */
.account #content #content-wrapper #menu-block .menu-block .title {
  font-size: 14px;
  color: #33a1c2;
  font-weight: bold;
  border-bottom: 1px dashed white;
  padding-bottom: 10px;
  font-family: Arial;
}
/* line 88, ../sass/account.sass */
.account #content #content-wrapper #menu-block .menu-block ul li {
  list-style-position: inside;
  list-style-image: url(../../images/layout/bullet.png);
  border-bottom: 1px dashed white;
  margin: 5px 0px;
  padding-bottom: 10px;
}
/* line 95, ../sass/account.sass */
.account #content #content-wrapper #menu-block .menu-block ul li a {
  color: white;
  font-family: Verdana;
  font-size: 12px;
}
/* line 100, ../sass/account.sass */
.account #content #content-wrapper #menu-block .menu-block ul li a:hover {
  text-decoration: underline;
}
