/* line 3, ../sass/banner-editor.sass */
#user_site_layout .banner-preview {
  position: relative;
  text-align: center;
}
/* line 7, ../sass/banner-editor.sass */
#user_site_layout .banner {
  width: 930px;
  position: relative;
  height: 350px;
  display: inline-block;
  border: 1px solid darkgrey;
  overflow: hidden;
}
/* line 15, ../sass/banner-editor.sass */
#user_site_layout .banner img {
  width: 100%;
  height: auto;
  z-index: 10;
}
/* line 20, ../sass/banner-editor.sass */
#user_site_layout .banner #banner-text {
  position: absolute;
  display: inline-block;
  font-family: Arial;
  font-weight: bold;
  color: black;
  white-space: nowrap;
}
/* line 28, ../sass/banner-editor.sass */
#user_site_layout .banner #banner-text.lefttop {
  top: 5px;
  left: 5px;
}
/* line 32, ../sass/banner-editor.sass */
#user_site_layout .banner #banner-text.right-top {
  top: 5px;
  right: 5px;
}
/* line 36, ../sass/banner-editor.sass */
#user_site_layout .banner #banner-text.leftbottom {
  bottom: 5px;
  left: 5px;
}
/* line 40, ../sass/banner-editor.sass */
#user_site_layout .banner #banner-text.rightbottom {
  bottom: 5px;
  right: 5px;
}
/* line 44, ../sass/banner-editor.sass */
#user_site_layout .banner #banner-text.middletop {
  width: 100%;
  top: 5px;
  left: 0px;
  text-align: center;
}
/* line 50, ../sass/banner-editor.sass */
#user_site_layout .banner #banner-text.middlebottom {
  width: 100%;
  bottom: 5px;
  left: 0px;
  text-align: center;
}
/* line 56, ../sass/banner-editor.sass */
#user_site_layout .banner #banner-text.small {
  font-size: 13px;
}
/* line 59, ../sass/banner-editor.sass */
#user_site_layout .banner #banner-text.medium {
  font-size: 25px;
}
/* line 62, ../sass/banner-editor.sass */
#user_site_layout .banner #banner-text.large {
  font-size: 37px;
}
/* line 65, ../sass/banner-editor.sass */
#user_site_layout .banner #banner-text.black {
  color: black;
}
/* line 68, ../sass/banner-editor.sass */
#user_site_layout .banner #banner-text.white {
  color: white;
}
/* line 71, ../sass/banner-editor.sass */
#user_site_layout .banner #banner-text.red {
  color: red;
}
/* line 74, ../sass/banner-editor.sass */
#user_site_layout .banner #banner-text.green {
  color: green;
}
/* line 77, ../sass/banner-editor.sass */
#user_site_layout .banner #banner-text.blue {
  color: blue;
}

/* line 80, ../sass/banner-editor.sass */
#banner-templates {
  margin: 0px 30px;
}
/* line 83, ../sass/banner-editor.sass */
#banner-templates #templates-categories-wrapper {
  float: left;
  margin-right: 10px;
}
/* line 87, ../sass/banner-editor.sass */
#banner-templates #templates-categories-wrapper select {
  width: 150px;
  height: 250px;
}
/* line 91, ../sass/banner-editor.sass */
#banner-templates #templates-preview {
  height: 250px;
  overflow-y: scroll;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
}
/* line 98, ../sass/banner-editor.sass */
#banner-templates #templates-preview .template-group {
  margin: 5px;
  text-align: center;
}
/* line 102, ../sass/banner-editor.sass */
#banner-templates #templates-preview .template-group .template {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  height: 90px;
  cursor: pointer;
  border: 2px dotted gray;
  overflow: hidden;
  margin: 5px;
}
/* line 112, ../sass/banner-editor.sass */
#banner-templates #templates-preview .template-group .template img {
  width: 150px;
  height: auto;
}
