/* line 1, ../sass/categories.sass */
#navigation-chain {
  margin-bottom: 15px;
}
/* line 4, ../sass/categories.sass */
#navigation-chain .navigation-chain-item, #navigation-chain .navigation-chain-inactive {
  color: #3f3f3f;
  font-family: Arial;
  font-size: 12px;
}
/* line 9, ../sass/categories.sass */
#navigation-chain a:hover {
  text-decoration: underline;
}

/* line 12, ../sass/categories.sass */
#page-categories {
  margin-left: 7px;
}
/* line 15, ../sass/categories.sass */
#page-categories .current-category-title {
  font-size: 18px;
  color: #3f3f3f;
  margin-bottom: 20px;
}
/* line 20, ../sass/categories.sass */
#page-categories .products-count {
  color: #a1a2a2;
  font-family: Arial;
}
/* line 24, ../sass/categories.sass */
#page-categories .category-1-level {
  margin-bottom: 15px;
  clear: both;
}
/* line 28, ../sass/categories.sass */
#page-categories .category-1-level .category-1-title {
  padding: 5px 7px;
  font-size: 16px;
  font-family: Arial;
  color: white;
  background: url(../../images/layout/innerbg.png);
  margin-bottom: 15px;
}
/* line 36, ../sass/categories.sass */
#page-categories .category-1-level .category-1-image {
  float: left;
  width: 165px;
  min-height: 165px;
}
/* line 41, ../sass/categories.sass */
#page-categories .category-1-level .category-1-child {
  display: inline-block;
  vertical-align: top;
  width: 530px;
}
/* line 46, ../sass/categories.sass */
#page-categories .category-1-level .category-1-child .category-2-level {
  display: inline-block;
  vertical-align: top;
  width: 260px;
  margin-bottom: 15px;
}
/* line 54, ../sass/categories.sass */
#page-categories .category-1-level .category-1-child .category-2-level .category-2-title a {
  color: #008ac0;
  font-family: Arial;
  font-size: 14px;
}
/* line 59, ../sass/categories.sass */
#page-categories .category-1-level .category-1-child .category-2-level .category-2-title a:hover {
  text-decoration: underline;
}
/* line 63, ../sass/categories.sass */
#page-categories .category-1-level .category-1-child .category-2-level .category-2-child li.level-3 {
  list-style-type: disc;
  list-style-position: inside;
  margin: 5px 0px;
  margin-left: 7px;
}
/* line 69, ../sass/categories.sass */
#page-categories .category-1-level .category-1-child .category-2-level .category-2-child li.level-3 a {
  color: #686868;
  font-family: Arial;
  font-size: 13px;
}
/* line 74, ../sass/categories.sass */
#page-categories .category-1-level .category-1-child .category-2-level .category-2-child li.level-3 a:hover {
  text-decoration: underline;
}
/* line 78, ../sass/categories.sass */
#page-categories .category-1-level .category-1-child .category-2-level .category-2-child li.level-3 .category-4-child li.level-4 {
  list-style-type: square;
  list-style-position: inside;
  margin: 5px 0px;
  margin-left: 7px;
}
/* line 84, ../sass/categories.sass */
#page-categories #hot-products {
  border: 1px solid #bebebe;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
}
/* line 90, ../sass/categories.sass */
#page-categories #hot-products #hot-actions {
  border-top: 1px dashed #bebebe;
  padding-top: 5px;
  margin-top: 5px;
}
/* line 95, ../sass/categories.sass */
#page-categories #hot-products #hot-actions a {
  color: #5f5f5f;
}
/* line 98, ../sass/categories.sass */
#page-categories #hot-products #hot-actions a:hover {
  text-decoration: underline;
}
/* line 101, ../sass/categories.sass */
#page-categories #products {
  text-align: center;
}
/* line 104, ../sass/categories.sass */
#page-categories .info {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #bbbbbb;
  padding: 14px;
  width: 300px;
  height: 110px;
  margin: 5px;
  border-radius: 5px;
  font-family: Arial;
  text-align: left;
  margin-top: 25px;
}
/* line 117, ../sass/categories.sass */
#page-categories .info .info-title {
  font-size: 18px;
  font-weight: bold;
}
/* line 121, ../sass/categories.sass */
#page-categories .info .info-text {
  margin-top: 20px;
  line-height: 1.5;
}
/* line 125, ../sass/categories.sass */
#page-categories .info .action-text {
  margin-top: 15px;
  color: #004080;
  font-weight: bold;
  font-size: 13px;
}
/* line 131, ../sass/categories.sass */
#page-categories .info .action-button {
  float: right;
  margin-top: 15px;
  cursor: pointer;
}

/* line 136, ../sass/categories.sass */
#paginator {
  text-align: center;
}
/* line 139, ../sass/categories.sass */
#paginator a {
  border: 1px solid black;
  padding: 4px 8px;
  cursor: pointer;
  color: #444444;
}
/* line 145, ../sass/categories.sass */
#paginator span {
  border: 1px solid transparent;
  padding: 4px 8px;
}

/* line 149, ../sass/categories.sass */
#page-tenders {
  font-family: Arial;
}
/* line 152, ../sass/categories.sass */
#page-tenders .customers-info {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #bcbcbc;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  margin-left: 15px;
  width: 230px;
}
/* line 162, ../sass/categories.sass */
#page-tenders .customers-info .title {
  font-size: 15px;
  font-weight: bold;
  color: #00659d;
  margin-bottom: 10px;
}
/* line 170, ../sass/categories.sass */
#page-tenders .customers-info ul li {
  list-style-type: disc;
  list-style-position: inside;
  margin: 2px 0px;
  font-size: 11px;
}
/* line 176, ../sass/categories.sass */
#page-tenders .customers-info ul li a {
  color: inherit;
  font-size: 11px;
  line-height: 1.5;
}
/* line 181, ../sass/categories.sass */
#page-tenders .customers-info ul li a:hover {
  text-decoration: underline;
}
/* line 184, ../sass/categories.sass */
#page-tenders .customers-info .separator {
  border-top: 1px dashed #aeaeae;
  margin: 15px 0px;
  height: 1px;
}
/* line 189, ../sass/categories.sass */
#page-tenders .customers-info .free {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0px;
}
/* line 196, ../sass/categories.sass */
#page-tenders .tenders-title {
  color: #424242;
  font-size: 20px;
}
/* line 200, ../sass/categories.sass */
#page-tenders .products-count {
  color: #a1a2a2;
  font-family: Arial;
}
/* line 204, ../sass/categories.sass */
#page-tenders .tenders-category {
  margin-bottom: 20px;
}
/* line 207, ../sass/categories.sass */
#page-tenders .tenders-category .category-title {
  background: url(../../images/layout/innerbg.png);
  padding: 5px;
  font-size: 15px;
  color: white;
  margin: 10px 0px;
}
/* line 216, ../sass/categories.sass */
#page-tenders .tenders-category .category-content .tender-category-1-level {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}
/* line 222, ../sass/categories.sass */
#page-tenders .tenders-category .category-content .tender-category-1-level a {
  color: #008ac0;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
}
/* line 228, ../sass/categories.sass */
#page-tenders .tenders-category .category-content .tender-category-1-level a:hover {
  text-decoration: underline;
}
/* line 232, ../sass/categories.sass */
#page-tenders .tenders-category .category-content .tender-category-1-level ul li {
  list-style-type: disc;
  list-style-position: inside;
  margin: 5px 0px;
  margin-left: 7px;
}
/* line 238, ../sass/categories.sass */
#page-tenders .tenders-category .category-content .tender-category-1-level ul li a {
  color: #686868;
  font-family: Arial;
  font-size: 13px;
}
/* line 243, ../sass/categories.sass */
#page-tenders .tenders-category .category-content .tender-category-1-level ul li a:hover {
  text-decoration: underline;
}
/* line 246, ../sass/categories.sass */
#page-tenders .tenders-banner {
  width: 100%;
  height: 230px;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: white;
}
/* line 254, ../sass/categories.sass */
#page-tenders .tenders-filter {
  display: inline-block;
  vertical-align: top;
  width: 260px;
  margin-left: 15px;
}
/* line 260, ../sass/categories.sass */
#page-tenders .tenders-filter .title {
  font-size: 15px;
  color: white;
  padding: 7px;
  background: url(../../images/layout/innerbg.png);
  margin: 5px 0px;
  border-radius: 5px;
}
/* line 268, ../sass/categories.sass */
#page-tenders .tenders-center {
  display: inline-block;
  vertical-align: top;
  width: 700px;
  font-family: Arial;
}
/* line 274, ../sass/categories.sass */
#page-tenders .tenders-center .hr-block {
  font-size: 15px;
  color: white;
  padding: 7px;
  text-align: right;
  background: url(../../images/layout/innerbg.png);
  margin: 5px 0px;
  border-radius: 5px;
}
/* line 283, ../sass/categories.sass */
#page-tenders .tenders-center .tender {
  padding-bottom: 10px;
  border-bottom: 1px solid #bababa;
  margin: 10px;
}
/* line 288, ../sass/categories.sass */
#page-tenders .tenders-center .tender .tender-date {
  float: left;
  margin-right: 15px;
  color: silver;
  font-size: 18px;
  text-align: right;
}
/* line 295, ../sass/categories.sass */
#page-tenders .tenders-center .tender .tender-date .day {
  font-weight: bold;
}
/* line 301, ../sass/categories.sass */
#page-tenders .tenders-center .tender .tender-details .tender-image {
  float: left;
  margin-right: 10px;
  overflow: hidden;
  max-height: 65px;
}
/* line 307, ../sass/categories.sass */
#page-tenders .tenders-center .tender .tender-details .tender-image img {
  height: 80px;
  width: auto;
  max-width: 150px;
}
/* line 312, ../sass/categories.sass */
#page-tenders .tenders-center .tender .tender-details .tender-title {
  margin-bottom: 5px;
}
/* line 315, ../sass/categories.sass */
#page-tenders .tenders-center .tender .tender-details .tender-title a {
  color: #008ac0;
  font-size: 14px;
  font-weight: bold;
}
/* line 320, ../sass/categories.sass */
#page-tenders .tenders-center .tender .tender-details .tender-title a:hover {
  text-decoration: underline;
}
/* line 323, ../sass/categories.sass */
#page-tenders .tenders-center .tender .tender-details .desc {
  font-size: 12px;
  line-height: 1.5;
  max-height: 85px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 330, ../sass/categories.sass */
#page-tenders .tenders-center .tender .tender-details .location {
  margin-top: 10px;
  font-size: 10px;
  color: gray;
}
/* line 335, ../sass/categories.sass */
#page-tenders .view-tender {
  border: 2px solid silver;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
}
/* line 341, ../sass/categories.sass */
#page-tenders .view-tender .tender-contacts {
  float: right;
  width: 250px;
  border: 2px solid silver;
  background-color: white;
  border-radius: 10px;
  border-top-left-radius: 0;
  position: relative;
  left: 17px;
  top: -17px;
  overflow: hidden;
}
/* line 353, ../sass/categories.sass */
#page-tenders .view-tender .tender-contacts a {
  color: #33a1c2;
}
/* line 356, ../sass/categories.sass */
#page-tenders .view-tender .tender-contacts a:hover {
  text-decoration: underline;
}
/* line 359, ../sass/categories.sass */
#page-tenders .view-tender .tender-contacts .separator {
  margin: 10px 0px;
  border-top-style: dotted;
}
/* line 364, ../sass/categories.sass */
#page-tenders .view-tender .tender-contacts .header {
  font-size: 15px;
  color: white;
  text-align: center;
  padding: 5px;
  background: url(../../images/layout/innerbg.png);
}
/* line 371, ../sass/categories.sass */
#page-tenders .view-tender .tender-contacts .gold-alert {
  padding: 10px 5px;
  line-height: 1.2;
}
/* line 375, ../sass/categories.sass */
#page-tenders .view-tender .tender-contacts .contacts {
  padding: 5px 10px;
}
/* line 379, ../sass/categories.sass */
#page-tenders .view-tender .tender-contacts .contacts .title a {
  font-size: 20px;
}
/* line 382, ../sass/categories.sass */
#page-tenders .view-tender .tender-contacts .contacts .country {
  font-size: 11px;
  color: darkgray;
  margin-top: 5px;
}
/* line 388, ../sass/categories.sass */
#page-tenders .view-tender .tender-contacts .contacts ul li {
  list-style-type: disc;
  list-style-position: inside;
  margin: 5px 0px;
  margin-left: 7px;
}
/* line 394, ../sass/categories.sass */
#page-tenders .view-tender .tender-contacts .login {
  padding: 5px 10px;
}
/* line 397, ../sass/categories.sass */
#page-tenders .view-tender .tender-contacts .login .login-info {
  margin: 5px 0px;
  line-height: 1.2;
}
/* line 401, ../sass/categories.sass */
#page-tenders .view-tender .tender-contacts .login .field {
  margin-bottom: 5px;
}
/* line 404, ../sass/categories.sass */
#page-tenders .view-tender .tender-contacts .login .field .label {
  display: inline-block;
  vertical-align: top;
  width: 55px;
  text-align: right;
  font-size: 12px;
  color: black;
  position: relative;
  top: 7px;
}
/* line 414, ../sass/categories.sass */
#page-tenders .view-tender .tender-contacts .login .field .editor {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}
/* line 419, ../sass/categories.sass */
#page-tenders .view-tender .tender-contacts .login .field .editor input[type='text'], #page-tenders .view-tender .tender-contacts .login .field .editor input[type='password'] {
  border: 1px solid black;
  width: 141px;
  padding: 2px;
}
/* line 424, ../sass/categories.sass */
#page-tenders .view-tender .tender-contacts .login input[type='submit'] {
  border: 1px solid black;
  background-color: #008ac0;
  font-weight: bold;
  color: white;
  float: right;
  margin-right: 20px;
  cursor: pointer;
}
/* line 435, ../sass/categories.sass */
#page-tenders .view-tender .info {
  width: 410px;
  margin-right: auto;
  margin-bottom: 15px;
}
/* line 440, ../sass/categories.sass */
#page-tenders .view-tender .info .tender-title {
  font-size: 30px;
  color: #3c9cff;
  margin-bottom: 10px;
}
/* line 445, ../sass/categories.sass */
#page-tenders .view-tender .info .info-item {
  margin-bottom: 3px;
  padding-bottom: 2px;
  border-bottom: 1px dashed #5f5f5f;
}
/* line 450, ../sass/categories.sass */
#page-tenders .view-tender .info .info-item b {
  font-weight: bold;
  width: 110px;
  display: inline-block;
}
/* line 455, ../sass/categories.sass */
#page-tenders .view-tender .separator {
  border-top: 1px dashed #aeaeae;
  margin: 15px 0px;
  height: 1px;
}
/* line 461, ../sass/categories.sass */
#page-tenders .view-tender .details .title {
  font-size: 20px;
}
/* line 464, ../sass/categories.sass */
#page-tenders .view-tender .details .details-content {
  margin-top: 10px;
  line-height: 1.5;
}
/* line 468, ../sass/categories.sass */
#page-tenders .view-tender #participation-request {
  margin-top: 15px;
  text-align: center;
  display: none;
}
/* line 473, ../sass/categories.sass */
#page-tenders .view-tender #participation-request form {
  width: 600px;
  border: 1px solid black;
  text-align: left;
  margin: 0px auto;
  padding: 5px;
}
/* line 480, ../sass/categories.sass */
#page-tenders .view-tender #participation-request form .field {
  border-bottom: 1px dotted gray;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
/* line 485, ../sass/categories.sass */
#page-tenders .view-tender #participation-request form .field.no-b {
  border-bottom: 0;
}
/* line 488, ../sass/categories.sass */
#page-tenders .view-tender #participation-request form .field .label {
  display: inline-block;
  vertical-align: top;
  width: 130px;
  font-size: 14px;
  color: black;
  text-align: right;
  position: relative;
  top: 4px;
}
/* line 498, ../sass/categories.sass */
#page-tenders .view-tender #participation-request form .field .editor {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}
/* line 503, ../sass/categories.sass */
#page-tenders .view-tender #participation-request form .field .editor input[type='text'], #page-tenders .view-tender #participation-request form .field .editor textarea {
  width: 244px;
  border: 1px solid silver;
  padding: 3px;
}
/* line 508, ../sass/categories.sass */
#page-tenders .view-tender #participation-request form .field .editor textarea {
  width: 340px;
}
/* line 511, ../sass/categories.sass */
#page-tenders .view-tender #participation-request form .field .editor label.error {
  color: red;
  margin-left: 5px;
}
/* line 515, ../sass/categories.sass */
#page-tenders .view-tender #participation-request form input[type='submit'] {
  border: 1px solid black;
  background-color: #008ac0;
  font-weight: bold;
  color: white;
  margin-right: 20px;
  cursor: pointer;
  padding: 5px;
}
/* line 524, ../sass/categories.sass */
#page-tenders .view-tender .offers-wrapper {
  position: relative;
  text-align: center;
  margin-top: 15px;
}
/* line 529, ../sass/categories.sass */
#page-tenders .view-tender .offers-wrapper .offers {
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 7px 5px;
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  width: 1000px;
  border-radius: 10px;
  background: url(../../images/layout/innerbg.png);
  position: relative;
  left: -30px;
}
/* line 543, ../sass/categories.sass */
#page-tenders .view-tender .offers-table {
  width: 100%;
  margin-top: 10px;
  color: black;
}
/* line 550, ../sass/categories.sass */
#page-tenders .view-tender .offers-table thead tr th {
  font-size: 18px;
  text-align: center;
  border: 1px dashed #a1a2a2;
  border-top: 0;
  padding: 5px;
}
/* line 557, ../sass/categories.sass */
#page-tenders .view-tender .offers-table thead tr th:first-child {
  border-left: 0;
}
/* line 560, ../sass/categories.sass */
#page-tenders .view-tender .offers-table thead tr th:last-child {
  border-right: 0;
}
/* line 565, ../sass/categories.sass */
#page-tenders .view-tender .offers-table tbody tr td {
  font-size: 14px;
  text-align: center;
  border: 1px dashed #a1a2a2;
  padding: 5px;
}
/* line 571, ../sass/categories.sass */
#page-tenders .view-tender .offers-table tbody tr td:first-child {
  border-left: 0;
}
/* line 574, ../sass/categories.sass */
#page-tenders .view-tender .offers-table tbody tr td:last-child {
  border-right: 0;
}
/* line 577, ../sass/categories.sass */
#page-tenders .view-tender .offers-table tbody tr td a {
  color: #3c9cff;
  font-weight: bold;
}
/* line 581, ../sass/categories.sass */
#page-tenders .view-tender .offers-table tbody tr td a:hover {
  text-decoration: underline;
}
/* line 585, ../sass/categories.sass */
#page-tenders .view-tender .offers-table tbody tr:last-child td {
  border-bottom: 0;
}
/* line 593, ../sass/categories.sass */
#page-tenders .action {
  margin-top: 5px;
}
/* line 596, ../sass/categories.sass */
#page-tenders .action a {
  color: #33a1c2;
}
/* line 598, ../sass/categories.sass */
#page-tenders .action a:hover {
  text-decoration: underline;
}
/* line 603, ../sass/categories.sass */
#page-tenders .other-tenders {
  border: 2px solid silver;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  margin-top: 15px;
}
/* line 610, ../sass/categories.sass */
#page-tenders .other-tenders .title {
  font-size: 18px;
}
/* line 613, ../sass/categories.sass */
#page-tenders .other-tenders .other-1-block {
  display: inline-block;
  vertical-align: top;
  width: 470px;
  border-right: 1px dotted gray;
}
/* line 619, ../sass/categories.sass */
#page-tenders .other-tenders .other-2-block {
  display: inline-block;
  vertical-align: top;
  width: 470px;
  position: relative;
  left: -3px;
}
/* line 627, ../sass/categories.sass */
#page-tenders .other-tenders .other-1-block, #page-tenders .other-tenders .other-2-block {
  margin-top: 10px;
}
/* line 630, ../sass/categories.sass */
#page-tenders .other-tenders .other-1-block .other-tender, #page-tenders .other-tenders .other-2-block .other-tender {
  clear: both;
  padding: 5px;
}
/* line 634, ../sass/categories.sass */
#page-tenders .other-tenders .other-1-block .other-tender:nth-child(odd), #page-tenders .other-tenders .other-2-block .other-tender:nth-child(odd) {
  background-color: #e4dee2;
}
/* line 637, ../sass/categories.sass */
#page-tenders .other-tenders .other-1-block .other-tender .tender-date, #page-tenders .other-tenders .other-2-block .other-tender .tender-date {
  color: gray;
  float: right;
  text-align: right;
}
/* line 642, ../sass/categories.sass */
#page-tenders .other-tenders .other-1-block .other-tender a, #page-tenders .other-tenders .other-2-block .other-tender a {
  color: black;
}
/* line 645, ../sass/categories.sass */
#page-tenders .other-tenders .other-1-block .other-tender a:hover, #page-tenders .other-tenders .other-2-block .other-tender a:hover {
  text-decoration: underline;
}
