/* line 1, ../sass/page-main.sass */
#banners-block {
  height: 353px;
  background: url(../../images/main/banners-frame.png) top center no-repeat;
}

/* line 5, ../sass/page-main.sass */
.hr {
  height: 2px;
  width: 100%;
  background: url(../../images/main/hr.png) top center no-repeat;
  margin: 15px 0px;
  margin-top: 5px;
}

/* line 12, ../sass/page-main.sass */
.mainblock {
  border: 1px solid #bbbbbb;
  padding: 10px;
  border-radius: 5px;
  margin: 0px 5px;
  position: relative;
}
/* line 20, ../sass/page-main.sass */
.mainblock ul li {
  list-style-type: disc;
  list-style-position: inside;
  margin: 5px 0px;
  padding-left: 5px;
}
/* line 26, ../sass/page-main.sass */
.mainblock #gold-vendor-info {
  display: inline-block;
  vertical-align: top;
  width: 325px;
  margin-left: 10px;
  border-right: 1px dashed #bbbbbb;
}
/* line 33, ../sass/page-main.sass */
.mainblock #gold-vendor-info .title {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 10px;
}
/* line 39, ../sass/page-main.sass */
.mainblock #place-info {
  display: inline-block;
  vertical-align: top;
  width: 340px;
  text-align: center;
}
/* line 45, ../sass/page-main.sass */
.mainblock #place-info #place-goods {
  display: inline-block;
  vertical-align: top;
  width: 138px;
  height: 52px;
  cursor: pointer;
  background: url(../../images/main/placegoods.png) left top no-repeat;
  margin-right: 10px;
}
/* line 54, ../sass/page-main.sass */
.mainblock #place-info #place-goods:hover {
  background: url(../../images/main/placegoods.png) left -52px no-repeat;
}
/* line 57, ../sass/page-main.sass */
.mainblock #place-info #place-tenders {
  display: inline-block;
  vertical-align: top;
  width: 138px;
  height: 52px;
  cursor: pointer;
  background: url(../../images/main/placetenders.png) left top no-repeat;
}
/* line 65, ../sass/page-main.sass */
.mainblock #place-info #place-tenders:hover {
  background: url(../../images/main/placetenders.png) left -52px no-repeat;
}
/* line 68, ../sass/page-main.sass */
.mainblock #place-info ul {
  text-align: left;
  margin-left: 30px;
  margin-top: 10px;
}
/* line 73, ../sass/page-main.sass */
.mainblock #place-info .free {
  color: #004080;
  font-size: 20px;
  margin-top: 10px;
}
/* line 78, ../sass/page-main.sass */
.mainblock .goldvendor {
  position: absolute;
  bottom: -8px;
  width: 243px;
  height: 41px;
  background: url(../../images/main/goldvendor.png) top center no-repeat;
  left: 55px;
}
/* line 86, ../sass/page-main.sass */
.mainblock .row {
  border-bottom: 1px dashed #bbbbbb;
  padding: 10px 0px;
}
/* line 90, ../sass/page-main.sass */
.mainblock .row:last-child {
  border-bottom: 0;
}
/* line 93, ../sass/page-main.sass */
.mainblock .row .item {
  padding: 5px;
  border-right: 1px dashed #bbbbbb;
  display: inline-block;
  vertical-align: top;
  width: 159px;
  height: 159px;
}
/* line 101, ../sass/page-main.sass */
.mainblock .row .item:last-child {
  border-right: 0;
}
