/* line 1, ../sass/page-main.sass */
#banners-block {
  height: 353px;
  background: url(../../images/main/banners-frame.png) top center no-repeat;
}

/* line 5, ../sass/page-main.sass */
.hr {
  height: 2px;
  width: 100%;
  background: url(../../images/main/hr.png) top center no-repeat;
  margin: 10px 0 25px 0px;
}

/* line 11, ../sass/page-main.sass */
.mainblock {
  border: 1px solid #bbbbbb;
  padding: 10px;
  border-radius: 5px;
  margin: 0px 5px;
  position: relative;
  background-color: white;
}
/* line 20, ../sass/page-main.sass */
.mainblock ul li {
  list-style-type: disc;
  list-style-position: inside;
  margin: 5px 0px 13px 0;
  padding-left: 5px;
  font-size: 13px;
}
/* line 27, ../sass/page-main.sass */
.mainblock ul li:first-child {
  margin-top: 14px;
}
/* line 30, ../sass/page-main.sass */
.mainblock #gold-vendor-info {
  display: inline-block;
  vertical-align: top;
  width: 325px;
  margin-left: 20px;
  margin-bottom: 25px;
}
/* line 37, ../sass/page-main.sass */
.mainblock #gold-vendor-info .title {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 8px;
  margin-bottom: 10px;
}
/* line 44, ../sass/page-main.sass */
.mainblock #place-info {
  display: inline-block;
  vertical-align: top;
  width: 330px;
  text-align: center;
  border-left: 1px dashed #bbbbbb;
}
/* line 52, ../sass/page-main.sass */
.mainblock #place-info #place-goods, .mainblock #place-info #place-tenders {
  margin-top: 5px;
}
/* line 55, ../sass/page-main.sass */
.mainblock #place-info #place-goods {
  display: inline-block;
  vertical-align: top;
  width: 138px;
  height: 52px;
  cursor: pointer;
  background: url(../../images/main/placegoods.png) left -52px no-repeat;
  margin-right: 10px;
}
/* line 64, ../sass/page-main.sass */
.mainblock #place-info #place-goods:hover {
  background: url(../../images/main/placegoods.png) left top no-repeat;
}
/* line 67, ../sass/page-main.sass */
.mainblock #place-info #place-tenders {
  display: inline-block;
  vertical-align: top;
  width: 138px;
  height: 52px;
  cursor: pointer;
  background: url(../../images/main/placetenders.png) left -51px no-repeat;
}
/* line 75, ../sass/page-main.sass */
.mainblock #place-info #place-tenders:hover {
  background: url(../../images/main/placetenders.png) left top no-repeat;
}
/* line 78, ../sass/page-main.sass */
.mainblock #place-info ul {
  text-align: left;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
}
/* line 84, ../sass/page-main.sass */
.mainblock #place-info .free {
  color: #004080;
  font-size: 24px;
  margin-top: 12px;
  margin-bottom: 6px;
  font-weight: bold;
  font-family: Calibri !important;
}
/* line 92, ../sass/page-main.sass */
.mainblock .goldvendor {
  position: absolute;
  bottom: -8px;
  width: 243px;
  height: 41px;
  background: url(../../images/main/goldvendor.png) top center no-repeat;
  left: 55px;
}
/* line 100, ../sass/page-main.sass */
.mainblock .row {
  border-bottom: 1px dashed #bbbbbb;
  padding: 15px 0px 25px 0;
}
/* line 104, ../sass/page-main.sass */
.mainblock .row:first-child {
  padding-top: 5px;
}
/* line 107, ../sass/page-main.sass */
.mainblock .row:last-child {
  border-bottom: 0;
}
/* line 110, ../sass/page-main.sass */
.mainblock .row .item {
  padding: 5px;
  border-right: 1px dashed #bbbbbb;
  display: inline-block;
  vertical-align: top;
  width: 159px;
  height: 159px;
}
/* line 118, ../sass/page-main.sass */
.mainblock .row .item .image {
  height: 70px;
}
/* line 121, ../sass/page-main.sass */
.mainblock .row .item .image img {
  height: 70px;
  width: auto;
}
/* line 125, ../sass/page-main.sass */
.mainblock .row .item:last-child {
  border-right: 0;
}
/* line 128, ../sass/page-main.sass */
.mainblock .mainblock-bottom {
  margin: 12px 17px 5px 10px;
}
/* line 131, ../sass/page-main.sass */
.mainblock .mainblock-bottom .extra-link {
  color: #444444;
}
/* line 134, ../sass/page-main.sass */
.mainblock .mainblock-bottom .extra-link span {
  color: #006699;
}
/* line 137, ../sass/page-main.sass */
.mainblock .mainblock-bottom .extra-link:last-child {
  float: right;
}
