/* line 1, ../sass/page-register.sass */
#page-register {
  margin-top: 5px;
  margin-left: 15px;
  min-height: 600px;
  font-family: Arial;
}
/* line 7, ../sass/page-register.sass */
#page-register #registration-info {
  float: right;
  border: 1px solid #bebebe;
  border-radius: 5px;
  padding: 10px;
  width: 195px;
}
/* line 14, ../sass/page-register.sass */
#page-register #registration-info .title {
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px;
}
/* line 19, ../sass/page-register.sass */
#page-register #registration-info .info {
  margin-top: 20px;
  line-height: 1.5;
}
/* line 23, ../sass/page-register.sass */
#page-register #registration-info .info .digit {
  color: #b8b8b8;
}
/* line 26, ../sass/page-register.sass */
#page-register #registration-info .free {
  margin-top: 20px;
  color: #02659e;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
/* line 33, ../sass/page-register.sass */
#page-register .required-warning {
  font-size: 16px;
  margin: 20px 0px;
  color: #0170a5;
  font-style: italic;
}
/* line 39, ../sass/page-register.sass */
#page-register .field {
  margin-bottom: 3px;
}
/* line 42, ../sass/page-register.sass */
#page-register .field .label {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  width: 210px;
  margin-right: 10px;
  padding-top: 10px;
  font-weight: bold;
}
/* line 51, ../sass/page-register.sass */
#page-register .field .label.header {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 10px;
}
/* line 57, ../sass/page-register.sass */
#page-register .field .label .asterix {
  color: #0170a5;
}
/* line 60, ../sass/page-register.sass */
#page-register .field .editor {
  display: inline-block;
  vertical-align: top;
}
/* line 64, ../sass/page-register.sass */
#page-register .field .editor input[type='text'], #page-register .field .editor input[type='password'] {
  background-color: white;
  padding: 5px;
  width: 270px;
  border: 1px solid #cecece;
  border-radius: 3px;
}
/* line 71, ../sass/page-register.sass */
#page-register .field .editor input[type='text'].small, #page-register .field .editor input[type='password'].small {
  width: 80px !important;
}
/* line 74, ../sass/page-register.sass */
#page-register .field .editor input[type='text'].error, #page-register .field .editor input[type='password'].error {
  background-color: #ffc7bb;
}
/* line 77, ../sass/page-register.sass */
#page-register .field .editor #captcha-image {
  width: 115px;
  height: 37px;
  margin-right: 5px;
}
/* line 82, ../sass/page-register.sass */
#page-register .field .editor #captcha-field {
  width: 150px;
}
/* line 85, ../sass/page-register.sass */
#page-register .field .editor label.error {
  color: red;
  margin-left: 5px;
}
/* line 89, ../sass/page-register.sass */
#page-register #reg-button {
  margin-top: 25px;
  width: 149px;
  height: 28px;
  cursor: pointer;
  background: url(../../images/layout/doreg.png);
  border: 0;
  margin-left: 220px;
}
