/* line 1, ../sass/products.sass */
.products-navigator {
  margin: 15px 0px;
  background: url(../../images/layout/innerbg.png);
  padding: 10px;
  font-size: 12px;
  color: white;
  font-family: Arial;
  min-height: 15px;
  border-radius: 5px;
}
/* line 11, ../sass/products.sass */
.products-navigator .product-sort {
  float: right;
}
/* line 14, ../sass/products.sass */
.products-navigator .prev {
  padding-left: 32px;
  position: relative;
  top: 4px;
  background: url(../../images/layout/pprev.png) left center no-repeat;
  border-right: 1px solid white;
  padding-right: 8px;
  cursor: pointer;
}
/* line 23, ../sass/products.sass */
.products-navigator .next {
  padding-right: 32px;
  position: relative;
  top: 8px;
  cursor: pointer;
  background: url(../../images/layout/pnext.png) right center no-repeat;
}
/* line 30, ../sass/products.sass */
.products-navigator .next:hover, .products-navigator .prev:hover {
  text-decoration: underline;
}

/* line 34, ../sass/products.sass */
.hot-product {
  display: inline-block;
  vertical-align: top;
  border-right: 1px dashed #bebebe;
  text-align: center;
  width: 170px;
  font-family: Arial;
  position: relative;
  left: -7px;
}
/* line 44, ../sass/products.sass */
.hot-product:last-child {
  border-right: 0 !important;
}
/* line 47, ../sass/products.sass */
.hot-product .title {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 5px;
  height: 28px;
}
/* line 53, ../sass/products.sass */
.hot-product .title a {
  color: #0099cc;
  font-size: 13px;
  font-family: Arial;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 61, ../sass/products.sass */
.hot-product .title a:hover {
  text-decoration: underline;
}
/* line 64, ../sass/products.sass */
.hot-product .image {
  margin-top: 15px;
  min-height: 85px;
}
/* line 68, ../sass/products.sass */
.hot-product .image img {
  max-width: 150px;
  max-height: 120px;
  min-height: 100px;
}
/* line 73, ../sass/products.sass */
.hot-product .price {
  color: #999999;
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 14px;
}
/* line 80, ../sass/products.sass */
.hot-product .price .price-holder {
  margin-left: 5px;
  color: #444444;
}

/* line 84, ../sass/products.sass */
.product {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  text-align: left;
  margin: 12px;
}
/* line 91, ../sass/products.sass */
.product .image {
  border: 1px solid #c3c3c3;
  height: 200px;
  text-align: center;
  overflow: hidden;
}
/* line 97, ../sass/products.sass */
.product .image img {
  width: 190px;
  height: auto;
}
/* line 101, ../sass/products.sass */
.product .title {
  margin-top: 5px;
  height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 32px;
}
/* line 108, ../sass/products.sass */
.product .title a {
  color: #3c9cff;
  font-family: Verdana;
  height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 115, ../sass/products.sass */
.product .title a:hover {
  text-decoration: underline;
}
/* line 118, ../sass/products.sass */
.product .details {
  margin-top: 15px;
  color: #919191;
  text-align: left;
  font-size: 10px;
}
/* line 124, ../sass/products.sass */
.product .details .detailItem {
  margin-bottom: 5px;
}
/* line 127, ../sass/products.sass */
.product .author {
  margin-top: 10px;
}
/* line 130, ../sass/products.sass */
.product .author a {
  color: #919191;
}
