/* line 1, ../sass/reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0 none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../sass/reset.sass */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/reset.sass */
body {
  line-height: 1;
}

/* line 29, ../sass/reset.sass */
a, a:hover {
  text-decoration: none;
}

/* line 32, ../sass/reset.sass */
ol, ul {
  list-style: none;
}

/* line 35, ../sass/reset.sass */
blockquote, q {
  quotes: none;
}

/* line 38, ../sass/reset.sass */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 43, ../sass/reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 47, ../sass/reset.sass */
span {
  display: inline-block;
}

/* line 8, ../sass/usersite.sass */
strong {
  font-weight: bold;
}

/* line 11, ../sass/usersite.sass */
.blue {
  font-family: Arial;
  color: #444444;
}
/* line 15, ../sass/usersite.sass */
.blue .gradient {
  background: #006699;
  background: -moz-linear-gradient(top, #006699 0%, #000f2c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #006699), color-stop(100%, #000f2c));
  background: -webkit-linear-gradient(top, #006699 0%, #000f2c 100%);
  background: -o-linear-gradient(top, #006699 0%, #000f2c 100%);
  background: -ms-linear-gradient(top, #006699 0%, #000f2c 100%);
  background: linear-gradient(to bottom, #006699 0%, #000f2c 100%);
}
/* line 25, ../sass/usersite.sass */
.blue a {
  color: #006699;
  text-decoration: none;
}
/* line 29, ../sass/usersite.sass */
.blue a:hover {
  text-decoration: underline;
}
/* line 32, ../sass/usersite.sass */
.blue .navigation-chain-item, .blue .navigation-chain-inactive {
  color: #006699;
}
/* line 35, ../sass/usersite.sass */
.blue .contacts-title {
  color: #006699;
}
/* line 42, ../sass/usersite.sass */
.blue #content-menu .group .group-content ul li {
  list-style-image: url(../../images/usersite/blue-bullet.png);
}
/* line 46, ../sass/usersite.sass */
.blue #content-menu .group .group-content ul li a:hover {
  color: #006699;
}
/* line 51, ../sass/usersite.sass */
.blue #main-menu ul li {
  border-right: 1px solid #00002f;
}
/* line 54, ../sass/usersite.sass */
.blue #main-menu ul li a {
  border-right: 1px solid #385475;
}

/* line 57, ../sass/usersite.sass */
.red {
  font-family: Arial;
  color: #444444;
}
/* line 66, ../sass/usersite.sass */
.red .gradient {
  background: #006699;
  background: -moz-linear-gradient(top, #cf0000 0%, #9f0000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cf0000), color-stop(100%, #9f0000));
  background: -webkit-linear-gradient(top, #cf0000 0%, #9f0000 100%);
  background: -o-linear-gradient(top, #cf0000 0%, #9f0000 100%);
  background: -ms-linear-gradient(top, #cf0000 0%, #9f0000 100%);
  background: linear-gradient(to bottom, #cf0000 0%, #9f0000 100%);
}
/* line 76, ../sass/usersite.sass */
.red a {
  color: #cf0000;
  text-decoration: none;
}
/* line 80, ../sass/usersite.sass */
.red a:hover {
  text-decoration: underline;
}
/* line 83, ../sass/usersite.sass */
.red .navigation-chain-item, .red .navigation-chain-inactive {
  color: #cf0000;
}
/* line 86, ../sass/usersite.sass */
.red .contacts-title {
  color: #cf0000;
}
/* line 93, ../sass/usersite.sass */
.red #content-menu .group .group-content ul li {
  list-style-image: url(../../images/usersite/red-bullet.png);
}
/* line 96, ../sass/usersite.sass */
.red #content-menu .group .group-content ul li a:hover {
  color: #cf0000;
}
/* line 101, ../sass/usersite.sass */
.red #main-menu ul li {
  border-right: 1px solid #980000;
}
/* line 104, ../sass/usersite.sass */
.red #main-menu ul li a {
  border-right: 1px solid #cc3838;
}

/* line 107, ../sass/usersite.sass */
.green {
  font-family: Arial;
  color: #444444;
}
/* line 116, ../sass/usersite.sass */
.green .gradient {
  background: #006699;
  background: -moz-linear-gradient(top, #00a100 0%, #006000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a100), color-stop(100%, #006000));
  background: -webkit-linear-gradient(top, #00a100 0%, #006000 100%);
  background: -o-linear-gradient(top, #00a100 0%, #006000 100%);
  background: -ms-linear-gradient(top, #00a100 0%, #006000 100%);
  background: linear-gradient(to bottom, #00a100 0%, #006000 100%);
}
/* line 126, ../sass/usersite.sass */
.green a {
  color: #00a100;
  text-decoration: none;
}
/* line 130, ../sass/usersite.sass */
.green a:hover {
  text-decoration: underline;
}
/* line 133, ../sass/usersite.sass */
.green .navigation-chain-item, .green .navigation-chain-inactive {
  color: #00a100;
}
/* line 136, ../sass/usersite.sass */
.green .contacts-title {
  color: #00a100;
}
/* line 143, ../sass/usersite.sass */
.green #content-menu .group .group-content ul li {
  list-style-image: url(../../images/usersite/green-bullet.png);
}
/* line 146, ../sass/usersite.sass */
.green #content-menu .group .group-content ul li a:hover {
  color: #00a100;
}
/* line 151, ../sass/usersite.sass */
.green #main-menu ul li {
  border-right: 1px solid #245024;
}
/* line 154, ../sass/usersite.sass */
.green #main-menu ul li a {
  border-right: 1px solid #389138;
}

/* line 157, ../sass/usersite.sass */
.navy {
  font-family: Arial;
  color: #444444;
}
/* line 166, ../sass/usersite.sass */
.navy .gradient {
  background: #006699;
  background: -moz-linear-gradient(top, #00a1cf 0%, #005a9e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a1cf), color-stop(100%, #005a9e));
  background: -webkit-linear-gradient(top, #00a1cf 0%, #005a9e 100%);
  background: -o-linear-gradient(top, #00a1cf 0%, #005a9e 100%);
  background: -ms-linear-gradient(top, #00a1cf 0%, #005a9e 100%);
  background: linear-gradient(to bottom, #00a1cf 0%, #005a9e 100%);
}
/* line 177, ../sass/usersite.sass */
.navy #main-menu ul li {
  border-right: 1px solid #005f92;
}
/* line 180, ../sass/usersite.sass */
.navy #main-menu ul li a {
  border-right: 1px solid #38acd5;
}
/* line 184, ../sass/usersite.sass */
.navy a {
  color: #00a1cf;
  text-decoration: none;
}
/* line 188, ../sass/usersite.sass */
.navy a:hover {
  text-decoration: underline;
}
/* line 191, ../sass/usersite.sass */
.navy .navigation-chain-item, .navy .navigation-chain-inactive {
  color: #00a1cf;
}
/* line 194, ../sass/usersite.sass */
.navy .contacts-title {
  color: #00a1cf;
}
/* line 201, ../sass/usersite.sass */
.navy #content-menu .group .group-content ul li {
  list-style-image: url(../../images/usersite/navy-bullet.png);
}
/* line 204, ../sass/usersite.sass */
.navy #content-menu .group .group-content ul li a:hover {
  color: #00a1cf;
}

/* line 207, ../sass/usersite.sass */
.black {
  font-family: Arial;
  color: #444444;
}
/* line 216, ../sass/usersite.sass */
.black .gradient {
  background: #006699;
  background: -moz-linear-gradient(top, #737373 0%, #282828 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #737373), color-stop(100%, #282828));
  background: -webkit-linear-gradient(top, #737373 0%, #282828 100%);
  background: -o-linear-gradient(top, #737373 0%, #282828 100%);
  background: -ms-linear-gradient(top, #737373 0%, #282828 100%);
  background: linear-gradient(to bottom, #737373 0%, #282828 100%);
}
/* line 226, ../sass/usersite.sass */
.black a {
  color: #737373;
  text-decoration: none;
}
/* line 230, ../sass/usersite.sass */
.black a:hover {
  text-decoration: underline;
}
/* line 233, ../sass/usersite.sass */
.black .navigation-chain-item, .black .navigation-chain-inactive {
  color: #737373;
}
/* line 236, ../sass/usersite.sass */
.black .contacts-title {
  color: #737373;
}
/* line 243, ../sass/usersite.sass */
.black #content-menu .group .group-content ul li {
  list-style-image: url(../../images/usersite/blue-bullet.png);
}
/* line 246, ../sass/usersite.sass */
.black #content-menu .group .group-content ul li a:hover {
  color: #737373;
}
/* line 251, ../sass/usersite.sass */
.black #main-menu ul li {
  border-right: 1px solid #3f3f3f;
}
/* line 254, ../sass/usersite.sass */
.black #main-menu ul li a {
  border-right: 1px solid #737373;
}

/* line 257, ../sass/usersite.sass */
.orange {
  font-family: Arial;
  color: #444444;
}
/* line 266, ../sass/usersite.sass */
.orange .gradient {
  background: #006699;
  background: -moz-linear-gradient(top, #d07500 0%, #a33100 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d07500), color-stop(100%, #a33100));
  background: -webkit-linear-gradient(top, #d07500 0%, #a33100 100%);
  background: -o-linear-gradient(top, #d07500 0%, #a33100 100%);
  background: -ms-linear-gradient(top, #d07500 0%, #a33100 100%);
  background: linear-gradient(to bottom, #d07500 0%, #a33100 100%);
}
/* line 276, ../sass/usersite.sass */
.orange a {
  color: #d07500;
  text-decoration: none;
}
/* line 280, ../sass/usersite.sass */
.orange a:hover {
  text-decoration: underline;
}
/* line 283, ../sass/usersite.sass */
.orange .navigation-chain-item, .orange .navigation-chain-inactive {
  color: #d07500;
}
/* line 286, ../sass/usersite.sass */
.orange .contacts-title {
  color: #d07500;
}
/* line 293, ../sass/usersite.sass */
.orange #content-menu .group .group-content ul li {
  list-style-image: url(../../images/usersite/orange-bullet.png);
}
/* line 296, ../sass/usersite.sass */
.orange #content-menu .group .group-content ul li a:hover {
  color: #d07500;
}
/* line 301, ../sass/usersite.sass */
.orange #main-menu ul li {
  border-right: 1px solid #882800;
}
/* line 304, ../sass/usersite.sass */
.orange #main-menu ul li a {
  border-right: 1px solid #c66e38;
}

/* line 310, ../sass/usersite.sass */
#header #header-content {
  width: 940px;
  margin: 10px auto;
}
/* line 314, ../sass/usersite.sass */
#header #header-content #logo-wrapper {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  height: 75px;
}
/* line 320, ../sass/usersite.sass */
#header #header-content #logo-wrapper img {
  height: 65px;
  width: auto;
}
/* line 324, ../sass/usersite.sass */
#header #header-content #phones-wrapper {
  float: right;
  height: 75px;
}
/* line 329, ../sass/usersite.sass */
#header #header-content #phones-wrapper #phone {
  font-size: 18px;
  color: #555555;
  padding-left: 30px;
  font-weight: bold;
  margin-top: 10px;
  background: url(../../images/usersite/phone.png) left center no-repeat;
}
/* line 337, ../sass/usersite.sass */
#header #header-content #phones-wrapper #write {
  display: block;
  font-size: 18px;
  color: #555555;
  padding-left: 30px;
  font-weight: bold;
  margin-top: 10px;
  background: url(../../images/usersite/mail.png) left center no-repeat;
  margin-top: 10px;
}
/* line 347, ../sass/usersite.sass */
#header #header-content #main-menu {
  border-radius: 5px;
}
/* line 350, ../sass/usersite.sass */
#header #header-content #main-menu #search-wrapper {
  float: right;
  margin-right: 10px;
  margin-top: 22px;
}
/* line 355, ../sass/usersite.sass */
#header #header-content #main-menu #search-wrapper input[type='text'] {
  border: 0;
  background-color: white;
  padding: 2px;
  width: 190px;
  border-radius: 2px;
}
/* line 362, ../sass/usersite.sass */
#header #header-content #main-menu #search-wrapper input[type='submit'] {
  border: 0;
  width: 18px;
  height: 18px;
  background: url(../../images/usersite/search-icon.png);
  margin-left: 5px;
  cursor: pointer;
  position: relative;
  left: -2px;
}
/* line 374, ../sass/usersite.sass */
#header #header-content #main-menu ul li {
  display: inline-block;
  vertical-align: top;
}
/* line 378, ../sass/usersite.sass */
#header #header-content #main-menu ul li a {
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 25px 20px;
  display: block;
}
/* line 386, ../sass/usersite.sass */
#header #header-content #navigation-chain {
  background-color: lightgrey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px 10px;
  margin: 0px 15px;
}
/* line 393, ../sass/usersite.sass */
#header #header-content #navigation-chain .navigation-chain-item, #header #header-content #navigation-chain .navigation-chain-inactive {
  font-family: Arial;
  font-size: 12px;
}
/* line 398, ../sass/usersite.sass */
#header #header-content #navigation-chain a:hover {
  text-decoration: underline;
}

/* line 401, ../sass/usersite.sass */
#footer {
  background: #dedede;
  background: -moz-linear-gradient(top, #dedede 0%, #b0b0b0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dedede), color-stop(100%, #b0b0b0));
  background: -webkit-linear-gradient(top, #dedede 0%, #b0b0b0 100%);
  background: -o-linear-gradient(top, #dedede 0%, #b0b0b0 100%);
  background: -ms-linear-gradient(top, #dedede 0%, #b0b0b0 100%);
  background: linear-gradient(to bottom, #dedede 0%, #b0b0b0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedede', endColorstr='#b0b0b0',GradientType=0 );
  border: 1px solid #999999;
  text-align: center;
  position: fixed;
  width: 100%;
}
/* line 415, ../sass/usersite.sass */
#footer .footer-item {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  color: #333333;
  font-weight: bold;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
  border-right: 1px solid #a2a2a2;
}
/* line 425, ../sass/usersite.sass */
#footer .footer-item a {
  color: #00527b;
}
/* line 428, ../sass/usersite.sass */
#footer #kartel-button {
  background: #dedede;
  background: -moz-linear-gradient(top, #6192ba 0%, #15396c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6192ba), color-stop(100%, #15396c));
  background: -webkit-linear-gradient(top, #6192ba 0%, #15396c 100%);
  background: -o-linear-gradient(top, #6192ba 0%, #15396c 100%);
  background: -ms-linear-gradient(top, #6192ba 0%, #15396c 100%);
  background: linear-gradient(to bottom, #6192ba 0%, #15396c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6192ba', endColorstr='#15396c',GradientType=0 );
  color: white;
  cursor: pointer;
}

/* line 440, ../sass/usersite.sass */
#paginator {
  text-align: center;
  margin: 15px 0px;
}
/* line 444, ../sass/usersite.sass */
#paginator a {
  border: 1px solid black;
  padding: 4px 8px;
  cursor: pointer;
  color: #444444;
}
/* line 450, ../sass/usersite.sass */
#paginator span {
  border: 1px solid transparent;
  padding: 4px 8px;
}

/* line 454, ../sass/usersite.sass */
#content {
  margin-bottom: 15px;
}
/* line 457, ../sass/usersite.sass */
#content #content-wrapper {
  margin: 0px auto;
  width: 940px;
}
/* line 461, ../sass/usersite.sass */
#content #content-menu {
  display: inline-block;
  vertical-align: top;
  width: 240px;
  margin-right: 17px;
  margin-bottom: 35px;
}
/* line 468, ../sass/usersite.sass */
#content #content-menu .group {
  position: relative;
}
/* line 470, ../sass/usersite.sass */
#content #content-menu .group .group-title {
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}
/* line 477, ../sass/usersite.sass */
#content #content-menu .group .group-title a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}
/* line 482, ../sass/usersite.sass */
#content #content-menu .group .group-title a:hover {
  text-decoration: underline;
}
/* line 485, ../sass/usersite.sass */
#content #content-menu .group .group-content {
  border-right: 1px solid #bbbbbb;
  border-left: 1px solid #bbbbbb;
  margin: 0px 3px;
  padding: 5px 10px;
  background-color: #f8f8f8;
}
/* line 492, ../sass/usersite.sass */
#content #content-menu .group .group-content .contacts-title {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
}
/* line 498, ../sass/usersite.sass */
#content #content-menu .group .group-content ul {
  margin-left: 10px;
}
/* line 501, ../sass/usersite.sass */
#content #content-menu .group .group-content ul li {
  padding-bottom: 4px;
  border-bottom: 1px dashed #bbbbbb;
  margin: 4px 0px;
}
/* line 506, ../sass/usersite.sass */
#content #content-menu .group .group-content ul li a {
  font-size: 12px;
  color: #444444;
  padding-left: 3px;
}
/* line 511, ../sass/usersite.sass */
#content #content-menu .group .group-content ul li a:hover {
  color: #d07500;
}
/* line 514, ../sass/usersite.sass */
#content #content-menu .group .group-content .html-text {
  font-size: 12px;
}
/* line 517, ../sass/usersite.sass */
#content #content-menu .group .group-content .html-text p {
  margin: 4px 0px;
  line-height: 1.25;
}
/* line 524, ../sass/usersite.sass */
#content #content-menu .group .group-content form .field {
  margin-bottom: 10px;
}
/* line 528, ../sass/usersite.sass */
#content #content-menu .group .group-content form .field .editor input[type='text'], #content #content-menu .group .group-content form .field .editor textarea {
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 4px;
  width: 200px;
}
/* line 534, ../sass/usersite.sass */
#content #content-menu .group .group-content form .field .editor textarea {
  height: 70px;
}
/* line 537, ../sass/usersite.sass */
#content #content-menu .group .group-content form .submit-wrapper {
  margin-top: 10px;
  text-align: center;
}
/* line 541, ../sass/usersite.sass */
#content #content-menu .group .group-content form .submit-wrapper input[type='submit'] {
  border: 0;
  text-align: center;
  padding: 5px 15px;
  font-size: 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 7px;
}
/* line 551, ../sass/usersite.sass */
#content #content-menu .group .group-content.last {
  border-bottom: 1px solid #bbbbbb;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 10px;
}
/* line 557, ../sass/usersite.sass */
#content #content-section {
  display: inline-block;
  vertical-align: top;
  width: 678px;
}
/* line 563, ../sass/usersite.sass */
#content #content-section .panel .panel-title {
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}
/* line 570, ../sass/usersite.sass */
#content #content-section .panel .panel-title .all {
  float: right;
  font-size: 13px;
  color: white;
  font-weight: normal;
}
/* line 576, ../sass/usersite.sass */
#content #content-section .panel .panel-category-title {
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #bebebe;
}
/* line 583, ../sass/usersite.sass */
#content #content-section .panel .panel-content {
  border-right: 1px solid #bbbbbb;
  border-left: 1px solid #bbbbbb;
  margin: 0px 3px;
  padding: 5px 10px;
  border-bottom: 1px solid #bbbbbb;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 10px;
}
/* line 594, ../sass/usersite.sass */
#content #content-section .panel .panel-content form .field {
  margin-bottom: 10px;
}
/* line 597, ../sass/usersite.sass */
#content #content-section .panel .panel-content form .field .label {
  margin-bottom: 5px;
  font-size: 13px;
  color: #929292;
}
/* line 603, ../sass/usersite.sass */
#content #content-section .panel .panel-content form .field .editor input[type='text'], #content #content-section .panel .panel-content form .field .editor textarea {
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 4px;
  width: 640px;
}
/* line 609, ../sass/usersite.sass */
#content #content-section .panel .panel-content form .field .editor textarea {
  height: 150px;
}
/* line 612, ../sass/usersite.sass */
#content #content-section .panel .panel-content form .submit-wrapper {
  margin-top: 10px;
  text-align: center;
}
/* line 616, ../sass/usersite.sass */
#content #content-section .panel .panel-content form .submit-wrapper input[type='submit'] {
  border: 0;
  text-align: center;
  padding: 5px 15px;
  font-size: 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 7px;
  margin-bottom: 15px;
}
/* line 627, ../sass/usersite.sass */
#content #content-section .panel .panel-content .row {
  border-bottom: 1px dashed #bbbbbb;
  padding: 10px 0px;
}
/* line 631, ../sass/usersite.sass */
#content #content-section .panel .panel-content .row .hot-product {
  display: inline-block;
  vertical-align: top;
  border-right: 1px dashed #bebebe;
  text-align: center;
  width: 158px;
  font-family: Arial;
}
/* line 639, ../sass/usersite.sass */
#content #content-section .panel .panel-content .row .hot-product:last-child {
  border-right: 0 !important;
}
/* line 642, ../sass/usersite.sass */
#content #content-section .panel .panel-content .row .hot-product .title {
  padding: 0px 5px;
  height: 28px;
}
/* line 646, ../sass/usersite.sass */
#content #content-section .panel .panel-content .row .hot-product .title a {
  color: #0099cc;
  font-size: 13px;
  font-weight: bold;
  font-family: Arial;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 654, ../sass/usersite.sass */
#content #content-section .panel .panel-content .row .hot-product .title a:hover {
  text-decoration: underline;
}
/* line 657, ../sass/usersite.sass */
#content #content-section .panel .panel-content .row .hot-product .image {
  margin-top: 15px;
  min-height: 85px;
}
/* line 661, ../sass/usersite.sass */
#content #content-section .panel .panel-content .row .hot-product .image img {
  max-width: 150px;
  max-height: 120px;
  min-height: 100px;
}
/* line 666, ../sass/usersite.sass */
#content #content-section .panel .panel-content .row .hot-product .price {
  color: #999999;
  margin-top: 25px;
  font-size: 14px;
}
/* line 671, ../sass/usersite.sass */
#content #content-section .panel .panel-content .row .hot-product .price .price-holder {
  margin-left: 5px;
  color: #444444;
}
/* line 675, ../sass/usersite.sass */
#content #content-section .panel .panel-content .row:last-child {
  border-bottom: 0;
}
/* line 680, ../sass/usersite.sass */
#content #content-section .panel .panel-products-content .products {
  text-align: center;
}
/* line 683, ../sass/usersite.sass */
#content #content-section .panel .panel-products-content .products .product {
  display: inline-block;
  vertical-align: top;
  width: 199px;
  text-align: left;
  margin: 12px;
}
/* line 690, ../sass/usersite.sass */
#content #content-section .panel .panel-products-content .products .product .image {
  border: 1px solid #c3c3c3;
  height: 200px;
  text-align: center;
  overflow: hidden;
}
/* line 696, ../sass/usersite.sass */
#content #content-section .panel .panel-products-content .products .product .image img {
  width: 190px;
  height: auto;
}
/* line 700, ../sass/usersite.sass */
#content #content-section .panel .panel-products-content .products .product .title {
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 32px;
}
/* line 706, ../sass/usersite.sass */
#content #content-section .panel .panel-products-content .products .product .title a {
  color: #3c9cff;
  font-family: Verdana;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}
/* line 713, ../sass/usersite.sass */
#content #content-section .panel .panel-products-content .products .product .title a:hover {
  text-decoration: underline;
}
/* line 716, ../sass/usersite.sass */
#content #content-section .panel .panel-products-content .products .product .details {
  margin-top: 15px;
  color: #919191;
  text-align: left;
  font-size: 10px;
}
/* line 722, ../sass/usersite.sass */
#content #content-section .panel .panel-products-content .products .product .details .detailItem {
  margin-bottom: 5px;
}
/* line 725, ../sass/usersite.sass */
#content #content-section .panel .panel-products-content .products .product .author {
  margin-top: 10px;
  display: none;
}
/* line 729, ../sass/usersite.sass */
#content #content-section .panel .panel-products-content .products .product .author a {
  color: #919191;
}
/* line 732, ../sass/usersite.sass */
#content #content-section .product-info {
  border: 1px solid #bbbbbb;
  border-radius: 7px;
  padding: 10px;
}
/* line 737, ../sass/usersite.sass */
#content #content-section .product-info .product-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
/* line 742, ../sass/usersite.sass */
#content #content-section .product-info .product-photo {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #e5e5e5;
  width: 200px;
  height: 200px;
  text-align: center;
  overflow: hidden;
}
/* line 751, ../sass/usersite.sass */
#content #content-section .product-info .product-photo img {
  width: 200px;
  height: auto;
}
/* line 755, ../sass/usersite.sass */
#content #content-section .product-info .product-details {
  display: inline-block;
  vertical-align: top;
  width: 410px;
  margin-left: 15px;
}
/* line 761, ../sass/usersite.sass */
#content #content-section .product-info .product-details .item {
  border-bottom: 1px dotted #bebebe;
  padding-bottom: 4px;
  margin-bottom: 5px;
  font-size: 12px;
}
/* line 767, ../sass/usersite.sass */
#content #content-section .product-info .product-details .item b {
  width: 150px;
  font-weight: bold;
  display: inline-block;
}
/* line 772, ../sass/usersite.sass */
#content #content-section .product-info .product-details .write {
  margin-top: 10px;
  text-align: right;
}
/* line 776, ../sass/usersite.sass */
#content #content-section .product-info .product-details .write #write-customer {
  display: inline-block;
  vertical-align: top;
  padding: 5px 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
/* line 785, ../sass/usersite.sass */
#content #content-section .contacts-info {
  border: 1px solid #bbbbbb;
  border-radius: 7px;
  padding: 10px;
}
/* line 790, ../sass/usersite.sass */
#content #content-section .contacts-info .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
/* line 795, ../sass/usersite.sass */
#content #content-section .prop {
  width: 100%;
  font-sizeusual: 12px;
}
/* line 799, ../sass/usersite.sass */
#content #content-section .prop td {
  padding: 5px;
  border-bottom: 1px dotted #424242;
}
/* line 803, ../sass/usersite.sass */
#content #content-section .prop td:first-child {
  font-weight: bold;
}
/* line 806, ../sass/usersite.sass */
#content #content-section .html-info, #content #content-section .html-text {
  font-size: 13px;
  margin: 15px 0px;
  line-height: 1.2;
}

/* line 813, ../sass/usersite.sass */
form label.error {
  color: red;
  font-size: 12px;
  margin-top: 3px;
}

/* line 2, ../sass/design-editor.sass */
.clear-fix {
  clear: both;
}

/* line 5, ../sass/design-editor.sass */
.fl {
  float: left;
}

/* line 8, ../sass/design-editor.sass */
.fr {
  float: right;
}

/* line 11, ../sass/design-editor.sass */
#design_editor {
  width: 100%;
  margin: 0 auto !important;
  position: fixed;
  top: 0;
  padding: 17px 10px;
  background-color: #434446;
  z-index: 100000;
}
/* line 20, ../sass/design-editor.sass */
#design_editor form {
  width: 1160px;
  margin: 0 auto;
}
/* line 25, ../sass/design-editor.sass */
#design_editor #design_settings_box {
  width: 100%;
}
/* line 28, ../sass/design-editor.sass */
#design_editor #design_settings_box #design_settings, #design_editor #design_settings_box #your_site {
  font-family: Arial;
  color: white;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  top: 6px;
}
/* line 37, ../sass/design-editor.sass */
#design_editor #design_settings_box #save_design {
  width: 126px;
  height: 27px;
  margin: 0 20px 0 25px;
  display: inline-block;
  cursor: pointer;
  background: url(../../images/account/save-design.png);
  border: 0;
}
/* line 46, ../sass/design-editor.sass */
#design_editor #design_settings_box #close_editor_button {
  width: 164px;
  height: 27px;
  display: inline-block;
  cursor: pointer;
  background: url(../../images/account/close-editor.png);
  border: 0;
}
/* line 55, ../sass/design-editor.sass */
#design_editor #design_settings_box #your_site span {
  font-weight: normal;
}
/* line 58, ../sass/design-editor.sass */
#design_editor #design_settings_box #your_site a {
  color: white;
  text-decoration: underline;
}
/* line 61, ../sass/design-editor.sass */
#design_editor #design_settings_box #your_site a:hover {
  text-decoration: none;
}
/* line 64, ../sass/design-editor.sass */
#design_editor #editor_left, #design_editor #editor_right {
  margin-top: 17px;
  display: inline-block;
}
/* line 68, ../sass/design-editor.sass */
#design_editor #editor_left {
  width: 200px;
}
/* line 71, ../sass/design-editor.sass */
#design_editor #editor_left .editor-menu-item {
  height: 20px;
  padding: 10px 0 6px 35px;
  font-size: 13px;
  display: block;
  border-radius: 3px 0 0 3px;
  font-family: Arial;
  background-color: #8a929c !important;
  color: white;
}
/* line 82, ../sass/design-editor.sass */
#design_editor #editor_left .editor-menu-item.selected-item {
  color: #444444;
  background-color: white !important;
}
/* line 86, ../sass/design-editor.sass */
#design_editor #editor_left .editor-menu-item#design_common_link {
  margin-bottom: 6px;
  background: url("/Content/images/account/design-common.png") no-repeat 7px 6px;
}
/* line 89, ../sass/design-editor.sass */
#design_editor #editor_left .editor-menu-item#design_premium_link {
  background: url("/Content/images/account/design-premium.png") no-repeat 7px 6px;
}
/* line 92, ../sass/design-editor.sass */
#design_editor #editor_right {
  width: 945px;
  height: 200px;
  overflow-y: scroll;
  padding-left: 15px;
  background-color: white;
}
/* line 99, ../sass/design-editor.sass */
#design_editor #editor_right .theme-item {
  display: inline-block;
  width: 120px;
  height: 80px;
  margin: 10px;
  border: 3px solid transparent;
}
/* line 106, ../sass/design-editor.sass */
#design_editor #editor_right .theme-item.selected-item {
  border: 3px solid red;
}
/* line 109, ../sass/design-editor.sass */
#design_editor #editor_right .theme-item img {
  width: 120px;
  height: 80px;
}

/* line 2, ../sass/banners.sass */
#banners-block #banners-container {
  widht: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}
/* line 8, ../sass/banners.sass */
#banners-block #banners-container .banner {
  width: 720px;
  height: 326px;
  position: absolute;
  text-align: center;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
/* line 17, ../sass/banners.sass */
#banners-block #banners-container .banner img {
  width: 696px;
  height: 326px;
  margin: 7px 0 0 0;
}
/* line 22, ../sass/banners.sass */
#banners-block #banners-swticher {
  background: whitesmoke;
  border-radius: 8px 8px 0 0;
  display: inline-block;
  padding: 9px 10px 7px 10px;
  opacity: 0.7;
  position: absolute;
  margin-left: -25px;
  bottom: 20px;
  z-index: 100000;
}
/* line 33, ../sass/banners.sass */
#banners-block #banners-swticher .banner-switch {
  width: 10px;
  height: 10px;
  display: inline-block;
  cursor: pointer;
  background: url(/Content/images/layout/banner-switch.png);
}
/* line 40, ../sass/banners.sass */
#banners-block #banners-swticher .banner-switch.active-switch {
  background: url(/Content/images/layout/banner-switch-active.png);
}

/* line 44, ../sass/banners.sass */
#user_site_layout #banners-block {
  height: 350px;
  margin: 15px 0;
  border: 5px solid #efefef;
}
/* line 49, ../sass/banners.sass */
#user_site_layout #banners-block #banners-container {
  position: relative;
  top: 0;
  left: 0;
}
/* line 56, ../sass/banners.sass */
#user_site_layout #banners-block #banners-container .banner {
  width: 930px;
  height: auto;
  overflow: hidden;
}
/* line 61, ../sass/banners.sass */
#user_site_layout #banners-block #banners-container .banner img {
  width: 930px;
  height: 350px;
  margin: 0;
}
/* line 66, ../sass/banners.sass */
#user_site_layout #banners-block #banners-swticher {
  margin-left: -25px;
  bottom: 0;
}

/* line 3, ../sass/banner-editor.sass */
#user_site_layout .banner-preview {
  position: relative;
  text-align: center;
}
/* line 7, ../sass/banner-editor.sass */
#user_site_layout .banner {
  width: 930px;
  position: relative;
  height: 350px;
  display: inline-block;
  border: 1px solid darkgrey;
  overflow: hidden;
}
/* line 15, ../sass/banner-editor.sass */
#user_site_layout .banner img {
  width: 100%;
  height: auto;
  z-index: 10;
}
/* line 20, ../sass/banner-editor.sass */
#user_site_layout .banner #banner-text {
  position: absolute;
  display: inline-block;
  font-family: Arial;
  font-weight: bold;
  color: black;
  white-space: nowrap;
}
/* line 28, ../sass/banner-editor.sass */
#user_site_layout .banner #banner-text.lefttop {
  top: 5px;
  left: 5px;
}
/* line 32, ../sass/banner-editor.sass */
#user_site_layout .banner #banner-text.right-top {
  top: 5px;
  right: 5px;
}
/* line 36, ../sass/banner-editor.sass */
#user_site_layout .banner #banner-text.leftbottom {
  bottom: 5px;
  left: 5px;
}
/* line 40, ../sass/banner-editor.sass */
#user_site_layout .banner #banner-text.rightbottom {
  bottom: 5px;
  right: 5px;
}
/* line 44, ../sass/banner-editor.sass */
#user_site_layout .banner #banner-text.middletop {
  width: 100%;
  top: 5px;
  left: 0px;
  text-align: center;
}
/* line 50, ../sass/banner-editor.sass */
#user_site_layout .banner #banner-text.middlebottom {
  width: 100%;
  bottom: 5px;
  left: 0px;
  text-align: center;
}
/* line 56, ../sass/banner-editor.sass */
#user_site_layout .banner #banner-text.small {
  font-size: 13px;
}
/* line 59, ../sass/banner-editor.sass */
#user_site_layout .banner #banner-text.medium {
  font-size: 25px;
}
/* line 62, ../sass/banner-editor.sass */
#user_site_layout .banner #banner-text.large {
  font-size: 37px;
}
/* line 65, ../sass/banner-editor.sass */
#user_site_layout .banner #banner-text.black {
  color: black;
}
/* line 68, ../sass/banner-editor.sass */
#user_site_layout .banner #banner-text.white {
  color: white;
}
/* line 71, ../sass/banner-editor.sass */
#user_site_layout .banner #banner-text.red {
  color: red;
}
/* line 74, ../sass/banner-editor.sass */
#user_site_layout .banner #banner-text.green {
  color: green;
}
/* line 77, ../sass/banner-editor.sass */
#user_site_layout .banner #banner-text.blue {
  color: blue;
}

/* line 80, ../sass/banner-editor.sass */
#banner-templates {
  margin: 0px 30px;
}
/* line 83, ../sass/banner-editor.sass */
#banner-templates #templates-categories-wrapper {
  float: left;
  margin-right: 10px;
}
/* line 87, ../sass/banner-editor.sass */
#banner-templates #templates-categories-wrapper select {
  width: 150px;
  height: 250px;
}
/* line 91, ../sass/banner-editor.sass */
#banner-templates #templates-preview {
  height: 250px;
  overflow-y: scroll;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
}
/* line 98, ../sass/banner-editor.sass */
#banner-templates #templates-preview .template-group {
  margin: 5px;
  text-align: center;
}
/* line 102, ../sass/banner-editor.sass */
#banner-templates #templates-preview .template-group .template {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  height: 90px;
  cursor: pointer;
  border: 2px dotted gray;
  overflow: hidden;
  margin: 5px;
}
/* line 112, ../sass/banner-editor.sass */
#banner-templates #templates-preview .template-group .template img {
  width: 150px;
  height: auto;
}
