@model Kartel.Domain.Entities.Category

@{
    ViewBag.Title = Model.Title;
    Layout = "../Shared/InnerLayout.cshtml";
}

@section LeftMenuBlock
{
    <div class="menu-block">
        <div class="menu-block-title">
            Заголовок внутреннего меню в категории
        </div>
        <ul>
            <li>
                <a href="#">Элемент меню</a>
            </li>
            <li>
                <a href="#">Элемент меню</a>
            </li>
            <li>
                <a href="#">Элемент меню</a>
            </li>
            <li>
                <a href="#">Элемент меню</a>
            </li>
            <li>
                <a href="#">Элемент меню</a>
            </li>
        </ul>
    </div>
}

