<div id="hot-actions">
            <a href="/help/hot" style="float: right">Узнать больше
                <img src="~/Content/images/layout/bullet.png" /></a>
            <a href="#">Добавить свои товары
                <img src="~/Content/images/layout/bullet.png" /></a>
        </div>