@model dynamic

@{
    ViewBag.Title = "Главная";
    Layout = "../Shared/_Layout.cshtml";
}


<div id="banners-block">
    <div id="banners-container">
        
    </div>
    <ul id="banners-swticher">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div class="hr">
    
</div>
<div class="mainblock">
    <div id="gold-vendor-info">
        <div class="title">
            Премиум аккаунт
        </div>
        <ul>
            <li>
                Самостоятельный выбор дизайна сайта
            </li>
            <li>
                Реклама в интернете (Яндекс.Директ)
            </li>
            <li>
                Email и SMS рассылки
            </li>
            <li>
                Посещаемость в 28 раз выше
            </li>
            <li>
                Доступ к 100% тендеров
            </li>
        </ul>
    </div>
    <div id="place-info">
        <div id="place-goods">
            
        </div>
        <div id="place-tenders">
            
        </div>
        <ul>
            <li>
                Профессиональный сайт компании
            </li>
            <li>
                Неограниченное количество товаров
            </li>
            <li>
                Доменное имя сайта
            </li>
        </ul>
        <div class="free">
            И все это БЕСПЛАТНО!
        </div>
    </div>
    <div class="goldvendor"></div>
</div>
<div class="hr" style="margin-top: 20px">
    
</div>
<div class="mainblock">
    <div class="row">
        <div class="item">
            
        </div>
        <div class="item">
            
        </div>
        <div class="item">
            
        </div>
        <div class="item">
            
        </div>
    </div>
    <div class="row">
        <div class="item">
            
        </div>
        <div class="item">
            
        </div>
        <div class="item">
            
        </div>
        <div class="item">
            
        </div>
    </div>
</div>