@model dynamic

@{
    ViewBag.Title = "Страница не найдена";
    Layout = "../Shared/_Layout.cshtml";
}

<p style="margin: 25px; text-align: center">К сожалению, запрашиваемая вами страница не найдена</p>