@model dynamic

@{
    int page = ViewBag.page;
    int totalPages = ViewBag.totalPages;
}

<div class="products-navigator">
    <select class="product-sort">
        @*<option value="price">Цена</option>
        <option value="count">Минимальная партия</option>
        <option value="views">Просмотров</option>*@
        <option value="views">Деятельность компании</option>
        <option value="importer">Импортер</option>
        <option value="exporter">Экспортер</option>
        <option value="developer">Производитель</option>
        <option value="agent">Агент</option>
        <option value="distributor">Дистрибьютор</option>
        <option value="oem">OEM</option>
        <option value="ODM">ODM</option>
    </select>
    @if (page > 0)
    {
        <span class="prev" style="text-decoration: underline;">Предыдущая</span>
    }
    @if (page < totalPages - 1)
    {
        <span class="next" style="text-decoration: underline;">Следующая</span>
    }
    <div style="clear: both"></div>
</div>
