@model dynamic

@{
    int page = ViewBag.page;
    int totalPages = ViewBag.totalPages;
}

<div class="products-navigator">
    <select class="product-sort">
        <option value="views">Деятельность компании</option>
        @if (ViewBag.hasImporter)
        {
        <option value="importer">Импортер</option>    
        }
        @if (ViewBag.hasExporter)
        {
        <option value="exporter">Экспортер</option>    
        }
        @if (ViewBag.hasDeveloper)
        {
        <option value="developer">Производитель</option>    
        }
        @if (ViewBag.hasAgent)
        {
        <option value="agent">Агент</option>    
        }
        @if (ViewBag.hasDistributor)
        {
        <option value="distributor">Дистрибьютор</option>    
        }
        @if (ViewBag.hasOem)
        {
        <option value="oem">OEM</option>    
        }
        @if (ViewBag.hasOdm)
        {
        <option value="ODM">ODM</option>    
        }
    </select>
    @if (page > 0)
    {
        <span class="prev" style="text-decoration: underline;">Предыдущая</span>
    }
    @if (page < totalPages - 1)
    {
        <span class="next" style="text-decoration: underline;">Следующая</span>
    }
    <div style="clear: both"></div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $(".products-navigator .next").click(function() {
            var region = $("#current-region").val();
            var page = parseInt($("#current-page").val());
            var occupation = $("#current-occupation").val();
            var id = $("#current-id").val();
            var url = "/browse-category/" + id + "?page=" + (page + 1);
            if (region != "") {
                url += "&region=" + region;
            }
            if (occupation != "") {
                url += "&occupation=" + occupation;
            }
            window.location.href = url;
        });
        $(".products-navigator .prev").click(function() {
            var region = $("#current-region").val();
            var page = parseInt($("#current-page").val());
            var occupation = $("#current-occupation").val();
            var id = $("#current-id").val();
            var url = "/browse-category/" + id + "?page=" + (page - 1);
            if (region != "") {
                url += "&region=" + region;
            }
            if (occupation != "") {
                url += "&occupation=" + occupation;
            }
            window.location.href = url;
        });
    });
</script>
