@model dynamic

@{
    ViewBag.Title = "Поиск недоступен";
    Layout = "../Shared/_Layout.cshtml";
}

@Html.Partial("NavigationChain")

<div style="margin: 15px 0px; text-align: center; font-size: 15px">В данный момент происходит перестроение индекса поисковой системы. Пожалуйста, повтори поиск через одну минуту</div>